<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <!--left begin-->
    <div class="layout_left mini_left" style="width:80px;">
        <div class="oa_logo">
            <a href="#" class="block mart20 marl20">
                <p class="logo_txt"><img src="../img/logo_1.png" /></p>
                <p class="logo_img"><img src="../img/logo_2.png" /></p>
                <p class="p-top10 color-3">上海万企明道软件有限公司</p>
            </a>
        </div>
        <div class="nav_tools">
            <ul class="tool_nav font14">
                <li class="current"><a href="javascript:;"><span class="circle_ico font24"><i class="icon-laptop-chromebook"></i></span><em>工作台</em></a></li>
            </ul>
            <ul class="nav_list font14">
                <li class="nav_li_first"><i class="icon-idoc color-a font24 marl10"></i><em class="marl20">归档</em></li>
                <li><a href="javascript:;"><em>我的</em>申请</a></li>
                <li class="current"><a href="javascript:;"><em>我的</em>审批</a></li>
                <li><a href="javascript:;"><em>我的</em>经办</a></li>
                <li><a href="javascript:;">传阅</a></li>
            </ul>
        </div>
        <div class="left_bottom">
            <ul class="tool_nav font14">
                <li><a href="javascript:;"><span class="circle_ico font20"><i class="icon-iadd"></i></span><em>发申请</em></a></li>
                <li><a href="javascript:;"><span class="circle_ico font20"><i class="icon-iser"></i></span><em>智能搜索</em></a></li>
                <li><a href="javascript:;"><span class="circle_ico font20"><i class="icon-iset"></i></span><em>管理</em></a></li>
            </ul>
            <div class="user_info font14 clearfix">
                <span class="UserImg floatleft marr10 ie-css3"><img src="../img/1.png"></span>
                <p><em>欢迎回来</em></p>
                <p><em>悍卒者</em></p>
            </div>
        </div>
    </div>
    <!--left over-->
    <!--right begin-->
    <div class="layout_right" style="left: 81px;">
        <div class="home_page">
            <div class="nodata aligncenter">
                <p><img src="../img/404.png"/></p>
                <p class="font30 color-3 p-top20 p-bt20">哎呀，您访问的页面逃出地球啦！</p>
                <p class="color-8 p-top10">您输入的网址错误，或者该页面已被移除</p>
                <p><a href="#" class="new_btn aligncenter mart20 font14">返回首页</a></p>
            </div>
        </div>
    </div>
    <!--right over-->
</div>
</body>
</html>