<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>升级浏览器</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <!--left begin-->
    <div class="layout_left mini_left" style="width:59px;">
        <div class="oa_logo">
            <a href="#" class="block mart20 marl30">
                <p class="logo_txt"><img src="../img/logo_1.png" /></p>
                <p class="logo_img"><img src="../img/logo_2.png" /></p>
            </a>
        </div>
        <div class="nav_tools">
            <ul class="tool_nav font14">
                <li>
                    <a href="javascript:;"><span class="circle_ico font18"><i class="icon-laptop-chromebook"></i></span><em>工作台</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>工作台</span>
                </li>
            </ul>
            <p class="line"></p>
            <ul class="tool_nav nav_list font14">
                <li>
                    <a href="javascript:;"><span class="circle_ico font18 noborder nobg"><i class="icon-upload2"></i></span><em>申请</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>申请</span>
                </li>
                <li>
                    <a href="javascript:;"><span class="circle_ico font18 noborder nobg"><i class="icon-clipboard"></i></span><em>审批</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>审批</span>
                </li>
                <li class="current">
                    <a href="javascript:;"><span class="circle_ico font18 noborder nobg"><i class="icon-exit marl5"></i></span><em>经办</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>经办</span>
                </li>
                <li>
                    <a href="javascript:;"><span class="circle_ico font18 noborder nobg"><i class="icon-eye-plus"></i></span><em>传阅</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>传阅</span>
                </li>
            </ul>
        </div>
        <div class="left_bottom">
            <ul class="tool_nav font14">
                <li>
                    <a href="javascript:;">
                        <span class="circle_ico font16"><i class="icon-iadd"></i></span>
                        <em>发申请</em>
                    </a>
                    <span class="title_tip"><i class="toggle_arrow"></i>发申请</span>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="circle_ico font16"><i class="icon-iser"></i></span>
                        <em>智能搜索</em>
                    </a>
                    <span class="title_tip"><i class="toggle_arrow"></i>智能搜索</span>
                </li>
                <li>
                    <a href="javascript:;"><span class="circle_ico font16"><i class="icon-iset"></i></span><em>管理</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>管理</span>
                </li>
            </ul>
            <div class="user_info font14 clearfix">
                <span class="UserImg floatleft marr10 ie-css3"><img src="../img/1.png"></span>
                <p><em>欢迎回来</em></p>
                <p class="font12"><a href="#">退出登录</a></p>
                <a href="javascript:;" class="font20 color-6"><i class="icon-input"></i></a>
                <span class="title_tip"><i class="toggle_arrow"></i>退出</span>
            </div>
        </div>
    </div>
    <!--left over-->
    <!--right begin-->
    <div class="layout_right" style="left:60px;">
        <div class="home_page">
            <!--更新浏览器begin-->
            <div class="pop pop_ie" style="display: ;">
                <div class="popIn">
                    <p class="aligncenter p-top40"><img src="../img/slogan.png"></p>
                    <div class="explorer mart30 aligncenter">
                        <p>
                            <a href="http://www.google.cn/intl/zh-CN/chrome/" target="_blank"><img src="../img/chrome.png"></a>
                            <a href="http://www.firefox.com.cn/" target="_blank"><img src="../img/firefox.png"></a>
                            <a href="" target="_blank"><img src="../img/lb.png"></a>
                            <a href="http://chrome.360.cn/" target="_blank"><img src="../img/360.png"></a>
                        </p>
                    </div>
                </div>
            </div>
            <!--更新浏览器over-->
        </div>
    </div>
    <!--right over-->
</div>
</body>
</html>