<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>OA工作台</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/jscrollpane.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <!--left begin-->
    <div class="layout_left " style="width:159px;">
        <div class="oa_logo">
            <a href="#" class="block mart20 marl30">
                <p class="logo_txt"><img src="../img/logo_1.png" /></p>
                <p class="logo_img"><img src="../img/logo_2.png" /></p>
            </a>
        </div>
        <div class="nav_tools">
            <ul class="tool_nav font14">
                <li class="current">
                    <a href="javascript:;"><span class="circle_ico font18"><i class="icon-laptop-chromebook"></i></span><em>工作台</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>工作台</span>
                </li>
            </ul>
            <p class="line"></p>
            <ul class="tool_nav nav_list font14">
                <li>
                    <a href="javascript:;"><span class="circle_ico font18 noborder nobg"><i class="icon-upload2"></i></span><em>申请</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>申请</span>
                </li>
                <li>
                    <a href="javascript:;"><span class="circle_ico font18 noborder nobg"><i class="icon-clipboard"></i></span><em>审批</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>审批</span>
                </li>
                <li class="current">
                    <a href="javascript:;"><span class="circle_ico font18 noborder nobg"><i class="icon-exit marl5"></i></span><em>经办</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>经办</span>
                </li>
                <li>
                    <a href="javascript:;"><span class="circle_ico font18 noborder nobg"><i class="icon-eye-plus"></i></span><em>传阅</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>传阅</span>
                </li>
            </ul>
        </div>
        <div class="left_bottom">
            <ul class="tool_nav font14">
                <li>
                    <a href="javascript:;">
                        <span class="circle_ico font16"><i class="icon-iadd"></i></span>
                        <em>发申请</em>
                    </a>
                    <span class="title_tip"><i class="toggle_arrow"></i>发申请</span>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="circle_ico font16"><i class="icon-iser"></i></span>
                        <em>智能搜索</em>
                    </a>
                    <span class="title_tip"><i class="toggle_arrow"></i>智能搜索</span>
                </li>
                <li>
                    <a href="javascript:;"><span class="circle_ico font16"><i class="icon-iset"></i></span><em>管理</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>管理</span>
                </li>
                <li>
                    <a href="javascript:;"><span class="circle_ico font12"><i class="icon-stats-dots"></i></span><em>统计</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>统计</span>
                </li>
                <li style="border-top:1px solid #ccc;margin-bottom:10px;padding-top:8px;">
                    <a href="javascript:;" class="marl20 download">
                        <span class="marl20 marr5"><img src="../img/phone.png" style="vertical-align: middle;"></span>
                        <em>移动端下载</em>
                        <span class="oa_apk"><img src="../img/oa_ios.png"/></span>
                        <span class="oa_ios"><img src="../img/oa_apk.png"/></span>
                    </a>
                </li>
            </ul>
            <div class="user_info font14 clearfix">
                <span class="UserImg floatleft marr10 ie-css3"><img src="../img/1.png"></span>
                <p><em>欢迎回来</em></p>
                <p class="font12"><a href="#">退出登录</a></p>
                <a href="javascript:;" class="font20 color-6"><i class="icon-input"></i></a>
                <span class="title_tip"><i class="toggle_arrow"></i>退出</span>
            </div>
        </div>
    </div>
    <!--left over-->
    <!--right begin-->
    <div class="layout_right" style="left:160px;">
        <!--快速审批操作begin-->
        <div class="bottom_app current" style="left: 160px">
            <textarea class="int-txt" placeholder="输入审批意见..." style=""></textarea>
            <a href="javascript:;" class="new_btn aligncenter bg-success font12 marr10 marl20">通 过</a>
            <a href="javascript:;" class="new_btn aligncenter bg-waring font12">否 决</a>
        </div>
        <!--快速审批操作over-->
        <div class="home_page">
            <div class="work_item">
                <div class="Title alignright clearfix">
                    <span class="font24 floatleft">我来审批<em class="font18 color-8">(10)</em></span>
                    <a href="#" class="current">
                        收起列表
                        <i class="font16 icon-arrow-drop-up"></i>
                        <i class="font16 icon-arrow-drop-down"></i>
                    </a>
                </div>
                <table class="work_list mart15">
                    <thead>
                        <tr>
                            <th class="width-30"></th>
                            <th class="width-50 aligncenter"><a href="#">全选</a></th>
                            <th>
                                <div class="inner alignright">
                                    <a href="#">按更新时间排序</a>
                                    <em>|</em>
                                    <a href="#" class="current">按申请时间排序</a>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="current">
                            <th class="noborder nobg"><a href="#" class="circle_ico2"><i class="icon-markunread"></i></a></th>
                            <th><a href="#" class="circle_ico2"><i class="icon-square-check"></i></a></th>
                            <td>
                                <div class="inner l_th">
                                    <a href="javascript:;" class="toggle font20 current">
                                        <i class="icon-arrow-drop-up"></i>
                                        <i class="icon-arrow-drop-down"></i>
                                    </a>
                                    <p class="color-8"><span>赵晓阳</span><span>于</span><span>2015.1.26 12:07:43</span><span>发起的</span><span>费用报销申请</span><span>已在</span><span>3分钟</span><span>前被</span><span>王振佳</span><span>通过，现等待您的</span><span>审批</span></p>
                                    <!--表单预览begin-->
                                    <div class="Preview p-bt10">
                                        <div class="form_Preview">
                                            <table>
                                                <tr>
                                                    <th>申请人: </th>
                                                    <td>赵晓阳</td>
                                                    <th>申请日期: </th>
                                                    <td>2015.1.26  12:07:43</td>
                                                </tr>
                                                <tr>
                                                    <th>部门: </th>
                                                    <td>明道北京研发中心</td>
                                                    <th>金额: </th>
                                                    <td>1000元</td>
                                                </tr>
                                                <tr>
                                                    <th>备注: </th>
                                                    <td colspan="3">2015明道北京研发中心交通费报销</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <p class="mart10"><a href="#">查看完整表单</a></p>
                                        <span class="Btns current mart10">
                                            <a href="#" class="a_txt">通 过</a>
                                            <a href="javascript:;" class="toggle current"><!--收起时去掉current-->
                                                <i class="icon-arrow-drop-up"></i>
                                                <i class="icon-arrow-drop-down"></i>
                                            </a>
                                            <ul>
                                                <li><a href="#">否 决</a></li>
                                                <li><a href="#">专 审</a></li>
                                                <li><a href="#" class="noborder">更 多...</a></li>
                                            </ul>
                                        </span>
                                    </div>
                                    <!--表单预览over-->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="noborder nobg"><a href="#" class="circle_ico2"><i class="icon-drafts"></i></a></th>
                            <th><a href="#" class="circle_ico2"><i class="icon-square-checked"></i></a></th>
                            <td>
                                <div class="inner">
                                    <i class="icon-paper-clip font14"></i>
                                    <p class="color-8"><span>赵晓阳</span>于<span>2015.1.26 12:07:43</span>发起的<span>费用报销申请</span>已在<span>3分钟</span>前被<span>王振佳</span>通过，现等待您的<span>审批</span></p>
                                    <span class="Btns Btns_r"><!--加current展开-->
                                        <a href="#" class="a_txt">通 过</a>
                                        <a href="javascript:;" class="toggle current"><!--收起时去掉current-->
                                            <i class="icon-arrow-drop-up"></i>
                                            <i class="icon-arrow-drop-down"></i>
                                        </a>
                                        <ul>
                                            <li><a href="#">否 决</a></li>
                                            <li><a href="#">专 审</a></li>
                                            <li><a href="#" class="noborder">更 多...</a></li>
                                        </ul>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="work_item">
                <div class="Title alignright clearfix">
                    <span class="font24 floatleft">我的申请<em class="font18 color-8">(10)</em></span>
                    <a href="#">
                        收起列表
                        <i class="font16 icon-arrow-drop-up"></i>
                        <i class="font16 icon-arrow-drop-down"></i>
                    </a>
                </div>
                <table class="work_list mart15">
                    <thead>
                        <tr>
                            <th class="width-30"></th>
                            <th class="width-50 aligncenter"><a href="#">全选</a></th>
                            <th>
                                <div class="inner alignright">
                                    <a href="#">按更新时间排序</a>
                                    <em>|</em>
                                    <a href="#">按申请时间排序</a>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="noborder nobg"><a href="#"><i class="I-con I-con-mail"></i></a></th>
                            <th><a href="#"><i class="I-con I-con-check"></i></a></th>
                            <td>
                                <div class="inner">
                                    <i class="icon-paper-clip font14"></i>
                                    <p class="color-8"><span>赵晓阳</span>于<span>2015.1.26 12:07:43</span>发起的<span>费用报销申请</span>已在<span>3分钟</span>前被<span>王振佳</span>通过，现等待您的<span>审批</span></p>
                                    <span class="Btns Btns_r BtnRevoke">
                                        <a href="#" class="a_txt">撤 销</a>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="noborder nobg"><a href="#"><i class="I-con I-con-mail I-con-mailed"></i></a></th>
                            <th><a href="#"><i class="I-con I-con-check I-con-checked"></i></a></th>
                            <td>
                                <div class="inner">
                                    <p class="color-8"><span>赵晓阳</span>于<span>2015.1.26 12:07:43</span>发起的<span>费用报销申请</span>已在<span>3分钟</span>前被<span>王振佳</span>通过，现等待您的<span>审批</span></p>
                                    <span class="Btns Btns_r BtnRevoke">
                                        <a href="#" class="a_txt bg-success">处 理</a>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="work_item">
                <div class="Title alignright clearfix">
                    <span class="font24 floatleft">我的传阅<em class="font18 color-8">(10)</em></span>
                    <a href="#">收起列表<i class="icon-arrow-drop-down font16"></i></a>
                </div>
                <table class="work_list mart15">
                    <thead>
                    <tr>
                        <th class="width-30"></th>
                        <th class="width-50 aligncenter"><a href="#">全选</a></th>
                        <th>
                            <div class="inner alignright">
                                <a href="#">按更新时间排序</a>
                                <em>|</em>
                                <a href="#">按申请时间排序</a>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="noborder nobg"><a href="#"><i class="I-con I-con-mail"></i></a></th>
                            <th><a href="#"><i class="I-con I-con-check"></i></a></th>
                            <td>
                                <div class="inner">
                                    <p class="color-8"><span>赵晓阳</span>于<span>2015.1.26 12:07:43</span>发起的<span>费用报销申请</span>已在<span>3分钟</span>前被<span>王振佳</span>通过，现等待您的<span>审批</span></p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                        <th class="noborder nobg"><a href="#"><i class="I-con I-con-mail I-con-mailed"></i></a></th>
                        <th><a href="#"><i class="I-con I-con-check I-con-checked"></i></a></th>
                        <td>
                            <div class="inner">
                                <p class="color-8"><span>赵晓阳</span>于<span>2015.1.26 12:07:43</span>发起的<span>费用报销申请</span>已在<span>3分钟</span>前被<span>王振佳</span>通过，现等待您的<span>审批</span></p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--right over-->
    <!--右侧滑出的表单详情 附件begin-->
    <div class="right_main AppDetail" style="right:0px;display:;">
        <iframe allowtransparency="true" allowtransparency="true" src="list.html" width="800" height="100%" frameborder="0" scrolling="no"></iframe>
    </div>
    <!--右侧滑出的表单详情 附件over-->
    <!--附件begin-->
    <div class="Annex_list" style="display:none;">
        <p class="User_title aligncenter">附件列表</p>
        <div class="jscroll" style="height:600px;">
            <ul class="clearfix">
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_docx.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft No_click"><i class="icon-eye_no"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_mp3.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_img.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_rar.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_pptx.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_rar.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_docx.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_mp3.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_img.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_rar.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_pptx.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_rar.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_docx.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_mp3.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_img.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_rar.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_pptx.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_rar.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_docx.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_mp3.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_img.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_rar.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_pptx.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="an_logo floatleft"><img src="../img/fu_rar.gif"></span>
                    <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                    <p class="color-8 clearfix marr10 alignright">
                        <span class="floatleft">34M</span>
                        <span>excel文件</span>
                    </p>
                    <div class="btn-make clearfix">
                        <a href="#" title="查看" class="floatleft"><i class="icon-eye"></i></a>
                        <a href="#" title="下载" class="floatleft"><i class="icon-file-download"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--附件over-->
    <span class="loading aligncenter" style="display: ;">
        <img src="../img/loading.gif"/><br>
        正在加载,请稍后再试...
    </span>
    <div class="mask" style="display:none;"></div>
    <!--通知状态条begin-->
    <div class="message_box" style="display:;">
        <div class="message aligncenter" style="display:;"><p class="font12 color-white ie-css3"><i class="icon-check2"></i>通讯录刷新成功！</p></div><!--每次 fadeout 掉一个div-->
        <div class="message aligncenter message_waring" style="display:none;"><p class="font12 color-white ie-css3"><i class="icon-info font20"></i>请谨慎操作！</p></div><!--每次 fadeout 掉一个div-->
        <div class="message aligncenter message_error" style="display: none;"><p class="font12 color-white"><i class="icon-cross ie-css3"></i>操作失败！请您尝试重新操作！</p></div>
        <div class="message aligncenter" style="display:;"><p class="font14 color-white ie-css3"><i class="icon-check2"></i>通讯录刷新成功！</p></div><!--每次 fadeout 掉一个div-->
        <div class="message aligncenter message_waring" style="display:none;"><p class="font14 color-white ie-css3"><i class="icon-info font20"></i>请谨慎操作！</p></div><!--每次 fadeout 掉一个div-->
        <div class="message aligncenter message_error" style="display: none;"><p class="font14 color-white"><i class="icon-cross ie-css3"></i>操作失败！请您尝试重新操作！</p></div>
    </div>
    <!--通知状态条over-->
    <!--confrim begin-->
    <div class="pop confrim font14" style="display:none;">
        <a class="off"><i class="icon-cross"></i></a>
        <p class="p-top10 marl10">请确认</p>
        <p class="marl30 marr20 p-top20">确认删除此表单？</p>
        <p class="alignright marr10">
            <a href="#" class="c_btn sure">确认</a>
            <a href="#" class="c_btn quit marl10">删除</a>
        </p>
    </div>
    <div class="pop confrim confrim_pay font14" style="display:none;">
        <a class="off"><i class="icon-cross"></i></a>
        <p class="p-top10 marl10">订购信息</p>
        <p class="marl30 mart30">基础套餐：<span class="add">15个系统预置表单+无限自定义表单</span><span class="marl20 add"><em class="font16">299</em>元/月</span></p>
        <p class="marl30 mart30">*提交的订购协议，将产生具有法律约束效应的合同关系</p>
        <p class="marl30 mart10">*基础套餐月费将于 2014-4-15，从您的明道账户余额内扣除</p>
        <p class="alignright marr10">
            <a href="#" class="c_btn sure">确认</a>
            <a href="#" class="c_btn quit marl10">删除</a>
        </p>
    </div>
    <!--confrim over-->
    <!--提示框begin-->
    <div class="pop pop_success" style="display:none">
        <div class="pop_top aligncenter">
            <p class="aligncenter p-top20"><img src="../img/success.png"/></p>
            <p class="font18 p-top20">提交成功</p>
            <p class="p-top10">10秒后自动关闭本页面</p>
        </div>
        <p class="aligncenter p-top30"><a href="#" class="btn">确 定</a></p>
    </div>
    <div class="pop pop_error" style="display:none">
        <div class="pop_top aligncenter">
            <p class="aligncenter p-top20"><img src="../img/waring.png"/></p>
            <p class="font18 p-top20">很抱歉，提交失败</p>
            <p class="p-top10">10秒后自动关闭本页面</p>
        </div>
        <p class="aligncenter p-top30"><a href="#" class="btn">确 定</a></p>
    </div>
    <div class="pop pop_error" style="display:none;">
        <div class="pop_top aligncenter">
            <p class="aligncenter p-top20"><img src="../img/waring2.png"/></p>
            <p class="font18 p-top20">很抱歉，您不能登录，请您续费后使用</p>
            <p class="p-top10">10秒后自动关闭本页面</p>
        </div>
        <p class="aligncenter p-top30"><a href="#" class="btn">确 定</a></p>
    </div>
    <!--提示框over-->
</div>
</body>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript">
    $(function() {
        $('.jscroll').jScrollPane({
            'mouseWheelSpeed':100,
            "showArrows":false
        });
        var $mini_left = $('.mini_left'),
            $l_tips = $mini_left.find('li'),
            $title_tip = $('.title_tip'),
            $user_info = $mini_left.find('.user_info');
        $l_tips.hover(function(){
            var $this = $(this);
            $this.find($title_tip).stop().fadeIn(150);
        },function(){
            var $this = $(this);
            $this.find($title_tip).stop().fadeOut(150);
        });
        $user_info.hover(function(){
            var $this = $(this);
            $this.find($title_tip).stop().fadeIn(150);
        },function(){
            var $this = $(this);
            $this.find($title_tip).stop().fadeOut(150);
        });
    });
</script>
</html>