<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>搜索</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <!--left begin-->
    <div class="layout_left mini_left" style="width:59px;">
        <div class="oa_logo">
            <a href="#" class="block">
                <p class="logo_txt"><img src="../img/logo_1.png" /></p>
                <p class="logo_img"><img src="../img/logo_2.png" /></p>
            </a>
        </div>
        <div class="nav_tools">
            <ul class="tool_nav font14">
                <li class="workDesk current">
                    <a href="javascript:;" class="font20"><i class="icon-laptop-chromebook"></i><em>工作台</em><em class="Prompt"></em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>工作台</span>
                </li>
            </ul>
            <p class="line" style="margin-top:-11px;"></p>
            <ul class="tool_nav nav_list font14">
                <li>
                    <a href="javascript:;"><span class="circle_ico font18 noborder nobg"><i class="icon-upload2"></i></span><em>申请</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>申请</span>
                </li>
                <li>
                    <a href="javascript:;"><span class="circle_ico font18 noborder nobg"><i class="icon-clipboard"></i></span><em>审批</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>审批</span>
                </li>
                <li class="current">
                    <a href="javascript:;"><span class="circle_ico font18 noborder nobg"><i class="icon-exit marl5"></i></span><em>经办</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>经办</span>
                </li>
                <li>
                    <a href="javascript:;"><span class="circle_ico font18 noborder nobg"><i class="icon-eye-plus"></i></span><em>传阅</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>传阅</span>
                </li>
                <li class="">
                    <a href="javascript:;"><span class="circle_ico font18 noborder nobg"><i class="icon-bin2"></i><i class="icon-rotate-left font14"></i></span><em>回收箱</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>回收箱</span>
                </li>
            </ul>
            <!--<ul class="tool_nav font14">-->
            <!--<li class="">-->
            <!--<a href="javascript:;"><span class="circle_ico font16"><i class="icon-bin2"></i></span><em>回收箱</em></a>-->
            <!--<span class="title_tip"><i class="toggle_arrow"></i>回收箱</span>-->
            <!--</li>-->
            <!--</ul>-->
        </div>
        <div class="left_bottom">
            <ul class="tool_nav font14">
                <li>
                    <a href="javascript:;">
                        <span class="circle_ico font16"><i class="icon-iadd"></i></span>
                        <em>发申请</em>
                    </a>
                    <span class="title_tip"><i class="toggle_arrow"></i>发申请</span>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="circle_ico font16"><i class="icon-iser"></i></span>
                        <em>智能搜索</em>
                    </a>
                    <span class="title_tip"><i class="toggle_arrow"></i>智能搜索</span>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="circle_ico font16"><i class="icon-iset"></i></span>
                        <em>管理</em>
                    </a>
                    <span class="title_tip"><i class="toggle_arrow"></i>管理</span>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="circle_ico font16"><i class="icon-stats"></i></span>
                        <em>统计</em>
                    </a>
                    <span class="title_tip"><i class="toggle_arrow"></i>统计</span>
                </li>
                <li class="download" style="border-top:1px solid #ededed;margin-bottom:10px;padding-top:8px;">
                    <a href="javascript:;" class="">
                        <span class="marl20 marr5"><img src="../img/phone.png" style="vertical-align: middle;"></span>
                        <em>移动端下载</em>
                    </a>
                </li>
            </ul>
            <div class="user_info font14 clearfix">
                <span class="UserImg floatleft marr10 ie-css3"><img src="../img/1.png"></span>
                <p><em class="">欢迎回来</em></p>
                <p class="font12"><a href="#" class="color-a">退出登录</a></p>
                <a href="javascript:;" class="font20 color-6"><i class="icon-input"></i></a>
                <span class="title_tip"><i class="toggle_arrow"></i>退出</span>
            </div>
        </div>
    </div>
    <!--left over-->
    <!--right begin-->
    <div class="layout_right hidden" style="left: 81px;">
        <!--搜索begin-->
        <div class="search_out" style="display:none">
            <div class="new_search clearfix">
                <div class="clearfix">
                    <input type="text" class="int floatleft" placeholder="申请 / 时间 / 人员">
                    <a href="javascript:;" class="new_btn floatleft"><i class="icon-iser"></i></a>
                </div>
                <div class="mart10 font14">
                    <span class="marl10">正在搜索</span>
                    <a href="javascript:;" class="current">全站 <i class="icon-expand-more font16"></i><i class="icon-expand-less font16"></i></a>
                    <!--下拉框begin-->
                    <div class="ser_Results ie-css3 width-60">
                        <ul>
                            <li>申请</li>
                            <li>审批</li>
                            <li>经办</li>
                            <li>转阅</li>
                        </ul>
                    </div>
                    <!--下拉框over-->
                </div>
            </div>
        </div>
        <!--搜索over-->
        <iframe allowtransparency="true" allowtransparency="true" style="background-color=transparent" src="search_in.html" width="100%" height="100%" frameborder="0" scrolling="true"></iframe>
    </div>
    <!--right over-->
    <div class="mask" style="display:none;"></div>
</div>
</body>
</html>