<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>文件预览</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/jscrollpane.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <!--left begin-->
    <div class="layout_left mini_left" style="width:80px;">
        <div class="oa_logo">
            <a href="#" class="block mart20 marl20">
                <p class="logo_txt"><img src="../img/logo_1.png" /></p>
                <p class="logo_img"><img src="../img/logo_2.png" /></p>
                <p class="p-top10 color-3">上海万企明道软件有限公司</p>
            </a>
        </div>
        <div class="nav_tools">
            <ul class="tool_nav font14">
                <li class="current"><a href="javascript:;"><span class="circle_ico font24"><i class="icon-laptop-chromebook"></i></span><em>工作台</em></a></li>
            </ul>
            <ul class="nav_list font14">
                <li class="nav_li_first"><i class="icon-idoc color-a font24 marl10"></i><em class="marl20">归档</em></li>
                <li><a href="javascript:;"><em>我的</em>申请</a></li>
                <li class="current"><a href="javascript:;"><em>我的</em>审批</a></li>
                <li><a href="javascript:;"><em>我的</em>经办</a></li>
                <li><a href="javascript:;">传阅</a></li>
            </ul>
        </div>
        <div class="left_bottom">
            <ul class="tool_nav font14">
                <li><a href="javascript:;"><span class="circle_ico font20"><i class="icon-iadd"></i></span><em>发申请</em></a></li>
                <li><a href="javascript:;"><span class="circle_ico font20"><i class="icon-iser"></i></span><em>智能搜索</em></a></li>
                <li><a href="javascript:;"><span class="circle_ico font20"><i class="icon-iset"></i></span><em>管理</em></a></li>
            </ul>
            <div class="user_info font14 clearfix">
                <span class="UserImg floatleft marr10 ie-css3"><img src="../img/1.png"></span>
                <p><em>欢迎回来</em></p>
                <p><em>悍卒者</em></p>
            </div>
        </div>
    </div>
    <!--left over-->
    <!--right begin-->
    <div class="layout_right" style="left: 81px;">
    </div>
    <!--right over-->
    <!--文件预览begin-->
    <div class="doc_preview">
        <div class="header">
            <a href="javascript:;" class="off"><i class="icon-close font22 color-white"></i></a>
            <span>新建表单.jpg</span>
            <div class="doc_btn_item alignleft floatright">
                <a href="javascript:;"><i class="font16 icon-image" style="vertical-align: -3px;"></i>&nbsp;&nbsp;查看原图</a>
                <a href="javascript:;"><i class="font16 icon-cloud-download2" style="vertical-align: -3px;"></i>&nbsp;&nbsp;下载</a>
                <a href="javascript:;"><i class="font16 icon-zoom-in"></i></a>
                <a href="javascript:;"><i class="font16 icon-zoom-out"></i></a>
                <a href="javascript:;"><i class="font20 icon-rotate-left"></i></a>
                <a href="javascript:;"><i class="font20 icon-rotate-right"></i></a>
            </div>
        </div>
        <!--左侧文件区域begin-->
        <div class="doc_view">
            <div class="doc_view_inner">
                <a href="javascript:;" class="go_left"><i class="icon-rewind"></i></a>
                <a href="javascript:;" class="go_right"><i class="icon-play"></i></a>
                <div class="doc_view_inner">
                    <!--图片在这显示begin-->
                    <div class="doc_view_img aligncenter">
                        <img src="../img/2.jpg" style="width:600px;height:300px;margin:-150px 0 0 -300px;"/>
                    </div>
                    <!--图片在这显示over-->
                </div>
            </div>
        </div>
        <!--左侧文件区域over-->
        <!--右侧文件列表begin-->
        <div class="doc_list">
            <div class="Annex_list doc_list_inner jscroll">
                <ul class="doc_list_ul clearfix">
                    <li class="clearfix No_click">
                        <span class="an_logo floatleft"><img src="../img/fu_docx.gif"></span>
                        <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                        <p class="color-8 clearfix">
                            <span class="floatleft">34M</span>
                        </p>
                        <div class="btn-make clearfix">
                            <a href="#" title="下载" class="floatleft"><i class="icon-cloud-download"></i></a>
                        </div>
                    </li>
                    <li class="current clearfix">
                        <span class="an_logo floatleft"><img src="../img/fu_mp3.gif"></span>
                        <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                        <p class="color-8 clearfix marr10">
                            <span>excel文件</span>
                        </p>
                        <div class="btn-make clearfix">
                            <a href="#" title="下载" class="floatleft"><i class="icon-cloud-download"></i></a>
                        </div>
                    </li>
                    <li class="clearfix">
                        <span class="an_logo floatleft"><img src="../img/fu_img.gif"></span>
                        <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                        <p class="color-8 clearfix marr10">
                            <span>34M</span>
                        </p>
                        <div class="btn-make clearfix">
                            <a href="#" title="下载" class="floatleft"><i class="icon-cloud-download"></i></a>
                        </div>
                    </li>
                    <li class="clearfix">
                        <span class="an_logo floatleft"><img src="../img/fu_rar.gif"></span>
                        <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                        <p class="color-8 clearfix marr10">
                            <span>34M</span>
                        </p>
                        <div class="btn-make clearfix">
                            <a href="#" title="下载" class="floatleft"><i class="icon-cloud-download"></i></a>
                        </div>
                    </li>
                    <li class="clearfix">
                        <span class="an_logo floatleft"><img src="../img/fu_pptx.gif"></span>
                        <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                        <p class="color-8 clearfix marr10">
                            <span>34M</span>
                        </p>
                        <div class="btn-make clearfix">
                            <a href="#" title="下载" class="floatleft"><i class="icon-cloud-download"></i></a>
                        </div>
                    </li>
                    <li class="clearfix">
                        <span class="an_logo floatleft"><img src="../img/fu_rar.gif"></span>
                        <p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>
                        <p class="color-8 clearfix marr10">
                            <span>34M</span>
                        </p>
                        <div class="btn-make clearfix">
                            <a href="#" title="下载" class="floatleft"><i class="icon-cloud-download"></i></a>
                        </div>
                    </li>
                </ul>
                <ul class="doc_img_list clearfix">
                    <li><img src="../img/img1.png"/></li>
                    <li class="nomarr"><img src="../img/ico_pro.png"/></li>
                    <li><img src="../img/img1.png"/></li>
                    <li class="nomarr"><img src="../img/ico_pro.png"/></li>
                    <li><img src="../img/img1.png"/></li>
                    <li class="nomarr"><img src="../img/ico_pro.png"/></li>
                    <li><img src="../img/img1.png"/></li>
                    <li class="nomarr"><img src="../img/ico_pro.png"/></li>
                </ul>
            </div>
        </div>
        <!--右侧文件列表over-->
    </div>
    <!--文件预览over-->
</div>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript">
    function Jscroll(){
        $('.jscroll').jScrollPane({
            'mouseWheelSpeed':100,
            "showArrows":false
        });
    }
    Jscroll();
</script>
</body>
</html>