<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>模板管理</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <!--right begin-->
    <div class="layout_right hidden" style="left:0;"><!--将左侧变窄加上class   mini_left 并animate改变此处的left为81-->
        <div class="home_page" style="display: none;">
            <div class="work_item">
                <div class="Title alignright clearfix">
                    <span class="font24 floatleft">我来审批<em class="font18 color-8">(10)</em></span>
                    <a href="#">收起列表<i class="toggle_arrow"></i></a>
                </div>
                <table class="work_list mart15">
                    <thead>
                    <tr>
                        <th class="width-30"></th>
                        <th class="width-50 aligncenter"><a href="#">全选</a></th>
                        <th>
                            <div class="inner alignright">
                                <a href="#">按更新时间排序</a>
                                <em>|</em>
                                <a href="#" class="current">按申请时间排序</a>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="current">
                        <th class="noborder nobg"><a href="#"><i class="I-con I-con-mail"></i></a></th>
                        <th><a href="#"><i class="I-con I-con-check"></i></a></th>
                        <td>
                            <div class="inner">
                                <a href="javascript:;" class="toggle current"><i class="toggle_arrow"></i></a>
                                <p class="color-8"><span>赵晓阳</span>于<span>2015.1.26 12:07:43</span>发起的<span>费用报销申请</span>已在<span>3分钟</span>前被<span>王振佳</span>通过，现等待您的<span>审批</span></p>
                                <!--表单预览begin-->
                                <div class="Preview p-bt10">
                                    <div class="form_Preview">
                                        <em class="toggle_arrow"></em>
                                        <table>
                                            <tr>
                                                <th>申请人: </th>
                                                <td>赵晓阳</td>
                                                <th>申请日期: </th>
                                                <td>2015.1.26  12:07:43</td>
                                            </tr>
                                            <tr>
                                                <th>部门: </th>
                                                <td>明道北京研发中心</td>
                                                <th>金额: </th>
                                                <td>1000元</td>
                                            </tr>
                                            <tr>
                                                <th>备注: </th>
                                                <td colspan="3">2015明道北京研发中心交通费报销</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <p class="mart10"><a href="#">查看完整表单</a></p>
                                        <span class="Btns current mart10">
                                            <a href="#" class="a_txt">通过</a>
                                            <em class="toggle"><i class="toggle_arrow"></i></em>
                                            <ul>
                                                <li><a href="#">否决</a></li>
                                                <li><a href="#">专审</a></li>
                                                <li><a href="#" class="noborder">更多...</a></li>
                                            </ul>
                                        </span>
                                </div>
                                <!--表单预览over-->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="noborder nobg"><a href="#"><i class="I-con I-con-mail I-con-mailed"></i></a></th>
                        <th><a href="#"><i class="I-con I-con-check I-con-checked"></i></a></th>
                        <td>
                            <div class="inner">
                                <p class="color-8"><span>赵晓阳</span>于<span>2015.1.26 12:07:43</span>发起的<span>费用报销申请</span>已在<span>3分钟</span>前被<span>王振佳</span>通过，现等待您的<span>审批</span></p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="work_item">
                <div class="Title alignright clearfix">
                    <span class="font24 floatleft">我的申请<em class="font18 color-8">(10)</em></span>
                    <a href="#">收起列表<i class="toggle_arrow"></i></a>
                </div>
                <table class="work_list mart15">
                    <thead>
                    <tr>
                        <th class="width-30"></th>
                        <th class="width-50 aligncenter"><a href="#">全选</a></th>
                        <th>
                            <div class="inner alignright">
                                <a href="#">按更新时间排序</a>
                                <em>|</em>
                                <a href="#">按申请时间排序</a>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th class="noborder nobg"><a href="#"><i class="I-con I-con-mail"></i></a></th>
                        <th><a href="#"><i class="I-con I-con-check"></i></a></th>
                        <td>
                            <div class="inner">
                                <a href="javascript:;" class="toggle"><i class="toggle_arrow"></i></a>
                                <p class="color-8"><span>赵晓阳</span>于<span>2015.1.26 12:07:43</span>发起的<span>费用报销申请</span>已在<span>3分钟</span>前被<span>王振佳</span>通过，现等待您的<span>审批</span></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="noborder nobg"><a href="#"><i class="I-con I-con-mail I-con-mailed"></i></a></th>
                        <th><a href="#"><i class="I-con I-con-check I-con-checked"></i></a></th>
                        <td>
                            <div class="inner">
                                <p class="color-8"><span>赵晓阳</span>于<span>2015.1.26 12:07:43</span>发起的<span>费用报销申请</span>已在<span>3分钟</span>前被<span>王振佳</span>通过，现等待您的<span>审批</span></p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="work_item">
                <div class="Title alignright clearfix">
                    <span class="font24 floatleft">我的传阅<em class="font18 color-8">(10)</em></span>
                    <a href="#">收起列表<i class="toggle_arrow"></i></a>
                </div>
                <table class="work_list mart15">
                    <thead>
                    <tr>
                        <th class="width-30"></th>
                        <th class="width-50 aligncenter"><a href="#">全选</a></th>
                        <th>
                            <div class="inner alignright">
                                <a href="#">按更新时间排序</a>
                                <em>|</em>
                                <a href="#">按申请时间排序</a>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th class="noborder nobg"><a href="#"><i class="I-con I-con-mail"></i></a></th>
                        <th><a href="#"><i class="I-con I-con-check"></i></a></th>
                        <td>
                            <div class="inner">
                                <p class="color-8"><span>赵晓阳</span>于<span>2015.1.26 12:07:43</span>发起的<span>费用报销申请</span>已在<span>3分钟</span>前被<span>王振佳</span>通过，现等待您的<span>审批</span></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="noborder nobg"><a href="#"><i class="I-con I-con-mail I-con-mailed"></i></a></th>
                        <th><a href="#"><i class="I-con I-con-check I-con-checked"></i></a></th>
                        <td>
                            <div class="inner">
                                <p class="color-8"><span>赵晓阳</span>于<span>2015.1.26 12:07:43</span>发起的<span>费用报销申请</span>已在<span>3分钟</span>前被<span>王振佳</span>通过，现等待您的<span>审批</span></p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--表单创建begin-->
        <div class="admin_header">
            <a href="http://meihua.mingdao.com/videoshare_c2f82932-9e20-4b5c-967f-7c06fa0d7c8e_fe288386-3d26-4eab-b5d2-51eeab82a7f9" target="_blank"  class="more floatleft marl20 mart18"><i class="icon-link"></i> 视频说明</a>
            <div class="top_nav aligncenter font14">
                <a href="javascript:;" class="new_btn font12 ie-css3">另存为模板</a>
                <a href="javascript:;" class="new_btn font12 ie-css3">生成表单</a>
                <a href="javascript:;" class="new_btn font12 ie-css3">选择模板</a>
                <a href="javascript:;" class="new_btn font12 ie-css3">清空</a>
                <a href="javascript:;" class="new_btn bg-waring font12 ie-css3">退出编辑</a>
            </div>
        </div>
        <div class="creat_out">
            <!--主要内容begin-->
            <div class="content">
                <div class="main nopadding" style="height: 100%;">
                    <!--左侧begin-->
                    <div class="form_left floatleft">
                        <div class="form_inner">
                            <div class="form_main">
                                <p class="font18 p-top20 aligncenter">标 题</p>
                                <table class="form_tab mart20">
                                    <tr>
                                        <td colspan="2">
                                            <div class="td_inner">
                                                <div class="Icon ico-all" style="display: block;">
                                                    <a href="javascript:;"><i class="Icon ico-up" title="上移一行"></i></a>
                                                    <a href="javascript:;"><i class="Icon ico-down2 mart15" title="下移一行"></i></a>
                                                    <em></em>
                                                </div>
                                                <p class="font12">选择你最认为正确的选项</p>
                                                <div class="block options">
                                                    <p class="has_two">
                                                        <label class="txt_hidden"><input type="radio" name="qb" value="">选择你最认为正确的选项选择你最认择你最认为正确的选项</label>
                                                        <label class="txt_hidden"><input type="radio" name="qb" value="">选项二</label>
                                                    </p>
                                                    <p class="has_three">
                                                        <label class="txt_hidden"><input type="radio" name="qb" value="">dewqrwrw34正确的选项选择你最认为正确的选项选择你最认为正确的选项</label>
                                                        <label class="txt_hidden"><input type="radio" name="qb" value="">选项二</label>
                                                        <label class="txt_hidden"><input type="radio" name="qb" value="">选项二</label>
                                                    </p>
                                                    <p class="has_four">
                                                        <label class="txt_hidden"><input type="radio" name="qb" value="">选择你最认57858689690690确的选项选择你最认为正确的选项选择你最认为正确的选项</label>
                                                        <label class="txt_hidden"><input type="radio" name="qb" value="">选项二</label>
                                                        <label class="txt_hidden"><input type="radio" name="qb" value="">选项二</label>
                                                        <label class="txt_hidden"><input type="radio" name="qb" value="">选项二</label>
                                                    </p>
                                                    <p><label class="txt_hidden"><input type="radio" name="qb" value="">选项三</label></p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="form_tab">
                                    <tr>
                                        <td>
                                            <div class="td_inner">
                                                <a href="javascript:;" class="Icon ico-all" title="选择整行"><em></em></a>
                                                <a href="javascript:;" class="Icon ico-delete4" title="删除"></a>
                                                <span class="font12">公司<em>（只读）</em></span>
                                                <span>明道北京研发中心</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="td_inner">
                                                <div class="mask_in"></div>
                                                <span class="font12">报销金额</span>
                                                <span><input class="int" type="text"></span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="form_tab">
                                    <tr>
                                        <td>
                                            <div class="td_inner">
                                                <a href="javascript:;" class="Icon ico-all" title="选择整行"><em></em></a>
                                                <span class="font12">下拉选择</span>
                                                <span>
                                                    <select class="int">
                                                        <option>行政费用</option>
                                                        <option>财务费用</option>
                                                        <option>交通费用</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="td_inner">
                                                <a href="javascript:;" class="Icon ico-delete4" title="删除"></a>
                                                <span class="font12">选择省市</span>
                                                <span class="div">
                                                    <div class="search ie-css3 select width-80"><!--加 current，显示下拉列表框-->
                                                        <span class="Choosed">省份</span>
                                                        <span class="ico-select"><i class="Icon ico-upd"></i></span>
                                                        <!--下拉选项begin-->
                                                        <div class="ser_Results ie-css3">
                                                            <ul>
                                                                <li>河北</li>
                                                                <li>天津</li>
                                                                <li>北京</li>
                                                                <li>河南</li>
                                                            </ul>
                                                        </div>
                                                        <!--下拉选项over-->
                                                    </div>
                                                </span>
                                                <span class="div">
                                                    <div class="search ie-css3 select width-80"><!--加 current，显示下拉列表框-->
                                                        <span class="Choosed">城市</span>
                                                        <span class="ico-select"><i class="Icon ico-upd"></i></span>
                                                        <!--下拉选项begin-->
                                                        <div class="ser_Results ie-css3">
                                                            <ul>
                                                                <li>石家庄</li>
                                                                <li>驻马店</li>
                                                                <li>正定</li>
                                                                <li>荷兰</li>
                                                            </ul>
                                                        </div>
                                                        <!--下拉选项over-->
                                                    </div>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="form_tab">
                                    <tr>
                                        <td colspan="2">
                                            <div class="td_inner">
                                                <div class="mask_in"></div>
                                                <span class="font12">文本域</span>
                                                <span>
                                                    <textarea class="int inlineblock"></textarea>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="form_tab">
                                     <tr>
                                         <td>
                                             <div class="td_inner">
                                                <a href="javascript:;" class="Icon ico-delete4" title="删除"></a>
                                                <span class="block">
                                                    <table class="Column">
                                                        <thead>
                                                            <tr>
                                                                <th  colspan="6" class="aligncenter strong font14">四列</th>
                                                            </tr>
                                                        </thead>
                                                        <tr>
                                                            <th class="width-40"><span class="font12">编号</span></th>
                                                            <td><span class="font12">文本域</span></td>
                                                            <td><span class="font12">文本域</span></td>
                                                            <td><span class="font12">文本域</span></td>
                                                            <td><span class="font12">文本域</span></td>
                                                            <th class="width-40"><span class="font12">操作</span></th>
                                                        </tr>
                                                        <tr>
                                                            <th class="width-40">1</th>
                                                            <td>
                                                                <div class="mask_in"></div>
                                                                <input class="int" type="text">
                                                            </td>
                                                            <td>
                                                                <div class="search ie-css3 select"><!--加 current，显示下拉列表框-->
                                                                    <span class="Choosed">省份</span>
                                                                    <span class="ico-select"><i class="Icon ico-upd"></i></span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="has-general inlineblock">
                                                                     <input type="text" class="int">
                                                                     <a class="Icon ico-clander" href="javascript:;"></a>
                                                                </div>
                                                            </td>
                                                            <td><input class="int" type="text"></td>
                                                            <th class="width-40"><i class="Icon ico-p-add"></i></th>
                                                        </tr>
                                                        <tr>
                                                            <th>备注</th>
                                                            <td colspan="5" class="alignleft"><textarea class="int inlineblock"></textarea></td>
                                                        </tr>
                                                    </table>
                                                </span>
                                             </div>
                                         </td>
                                     </tr>
                                </table>
                                <table class="form_tab">
                                    <tr>
                                        <td>
                                            <div class="td_inner">
                                                <a href="javascript:;" class="Icon ico-delete4" title="删除"></a>
                                                <span class="block">
                                                    <table class="Column">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="3" class="aligncenter strong font14">
                                                                   <div class="td_inner">
                                                                        <span class="font12">评分指标</span>
                                                                    </div>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tr>
                                                            <td class="width-80">
                                                                <div class="td_inner">
                                                                    <span class="font12">评分指标</span>
                                                                    <span></span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="td_inner">
                                                                    <span class="font12">指标描述</span>
                                                                </div>
                                                            </td>
                                                            <td class="width-40">
                                                                <div class="td_inner">
                                                                    <span class="font12">得分</span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="form_tab">
                                    <tr>
                                        <td>
                                            <div class="td_inner">
                                                <span class="font12">报销金额</span>
                                                <span><input class="int" type="text"></span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="form_tab">
                                    <tr>
                                        <td>
                                            <div class="td_inner">
                                                <a title="删除" class="Icon ico-delete4" href="javascript:;"></a>
                                                <span class="font12">日期选择</span>
                                                <div class="has-general inlineblock">
                                                     <input type="text" class="int">
                                                     <a class="Icon ico-clander" href="javascript:;"></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="form_tab">
                                    <tr>
                                        <td>
                                            <div class="td_inner">
                                                <a title="删除" class="Icon ico-delete4" href="javascript:;"></a>
                                                <span class="font12">上传附件</span>
                                                <span><a href="#" class="add"><i class="Icon ico-acc"></i> 添加附件</a></span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="form_tab">
                                    <tr>
                                        <td><p class="color-a aligncenter">拖动控件到此出</p></td>
                                        <td>
                                            <div class="td_inner"><p class="aligncenter Out_here">不能拖动到此处</p></div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="form_tab">
                                    <tr>
                                        <td>
                                            <div class="td_inner">
                                                <a href="javascript:;" class="Icon ico-all" title="选择整行"><em></em></a>
                                                <span class="font12">单选框</span>
                                                <span>
                                                    <label><input type="radio" name="qb" value="">男</label>
                                                    <label><input type="radio" name="qb" value="">男</label>
                                                    <label><input type="radio" name="qb" value="">男</label>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="form_tab">
                                    <tr>
                                        <td>
                                            <div class="td_inner">
                                                <table class="Column">
                                                    <thead><tr><th colspan="5" class="aligncenter strong font14">5列</th></tr></thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>文本域</td>
                                                            <td>文本域</td>
                                                            <td>文本域</td>
                                                            <td>文本域</td>
                                                            <td>文本域</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="form_tab form_tab_last">
                                    <tr>
                                        <td>
                                            <div class="td_inner">
                                                <a href="javascript:;" class="Icon ico-all" title="选择整行"><em></em></a>
                                                <span class="font12">单选框</span>
                                                <span>
                                                    <label><input type="radio" name="qb" value="">男</label>
                                                    <label><input type="radio" name="qb" value="">男</label>
                                                    <label><input type="radio" name="qb" value="">男</label>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="td_inner">
                                                <span class="font12">单选框</span>
                                                <span>
                                                    <label><input type="radio" name="qb" value="">男</label>
                                                    <label><input type="radio" name="qb" value="">男</label>
                                                    <label><input type="radio" name="qb" value="">男</label>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <p class="mart20 p-bt20 aligncenter"><a href="#" class="add">+ 添加一行</a></p>
                            </div>
                        </div>
                    </div>
                    <!--左侧over-->
                    <!--右侧begin-->
                    <div class="form_right inlineblock">
                        <div class="nav nav_normal nav_50 clearfix">
                            <em class="borderBt"></em>
                            <a href="#">我的模板</a>
                            <a href="#" class="current">预设模板</a>
                        </div>
                        <div class="module_out">
                            <!--我的模板begin-->
                            <div class="module_box p-top10" style="display:;">
                                <div class="module mart20">
                                    <div class="mart15">
                                        <ul class="module_list marr30">
                                            <li class="current">出差申请</li>
                                            <li>请假申请</li>
                                            <li>报销申请</li>
                                            <li>员工考核</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--我的模板over-->
                            <!--预设模板begin-->
                            <div class="module_box" style="display:none;">
                                <div class="module mart20">
                                    <div class="mart15">
                                        <ul class="module_list marr20">
                                            <li class="current">出差申请</li>
                                            <li>请假申请</li>
                                            <li>报销申请</li>
                                            <li>员工考核</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--预设模板over-->
                        </div>
                    </div>
                    <!--右侧over-->
                </div>
            </div>
            <!--主要内容over-->
        </div>
        <!--表单创建over-->
    </div>
    <!--right over-->
    <div class="mask" style="display: none"></div>
</div>
</body>
</html>