<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>申请日志</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/jscrollpane.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <!--right begin-->
    <div class="layout_right hidden" style="left:0;">
        <div class="admin_header aligncenter">
            <div class="location font14 floatleft marl20">
                <span>管理</span>
                <em>&gt;</em>
                <span>申请日志</span>
            </div>
            <div class="top_nav alignright font14">
                <a href="javascript:;" class="new_btn bg-waring font12 ie-css3 floatright">关闭</a>
                <span class="search_mini mart11 floatright">
                  <input type="text" placeholder="搜索...">
                  <a href="#" class="serbtn font14"><i class="icon-iser"></i></a>
                </span>
            </div>
        </div>
        <div class="form_page mart50 p-top20">
            <div class="order_main p-top20">
                <div style="height:300px;">
                    <table class="account_de">
                        <thead>
                            <tr>
                                <th>申请单据</th>
                                <th>申请人</th>
                                <th>申请时间</th>
                                <th colspan="2">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>基层员工标准请假</td>
                                <td><em>玄灵顺(明道战斗生活)</em></td>
                                <td>2014-10-31 20:10:22</td>
                                <td class="hasProcess width-40">
                                    <div class="width-40 relative current">
                                        <a href="#" class="add">查看</a>
                                        <div class="processBox jscroll">
                                            <table style="width:100%;">
                                                <tr>
                                                    <td><span class="width-80 txt_hidden add">任向辉</span></td>
                                                    <td class="nopadding">2015-7-22 20:25:25</td>
                                                    <td class="width-50 alignright"><span class="add">通过</span></td>
                                                </tr>
                                                <tr>
                                                    <td><span class="width-80 txt_hidden add">刘德华</span></td>
                                                    <td class="nopadding">2015-7-22 20:25:25</td>
                                                    <td class="alignright"><span class="add">转审</span></td>
                                                </tr>
                                                <tr>
                                                    <td><span class="width-80 txt_hidden add">王振佳</span></td>
                                                    <td class="nopadding">2015-7-22 20:25:25</td>
                                                    <td class="alignright"><span class="add">通过</span></td>
                                                </tr>
                                                <tr>
                                                    <td><span class="width-80 txt_hidden add">王佳</span></td>
                                                    <td class="nopadding">2015-7-22 20:25:25</td>
                                                    <td class="alignright"><span class="add">通过</span></td>
                                                </tr>
                                                <tr class="color-a">
                                                    <td><span class="width-80 txt_hidden add">任向辉</span></td>
                                                    <td class="nopadding"></td>
                                                    <td class="alignright"><span class="color-a">等待审批</span></td>
                                                </tr>
                                                <tr class="color-a">
                                                    <td><span class="width-80 txt_hidden add">任向辉</span></td>
                                                    <td class="nopadding"></td>
                                                    <td class="alignright"><span>等待审批</span></td>
                                                </tr>
                                                <tr class="color-a">
                                                    <td><span class="width-80 txt_hidden">玄灵顺(明道战斗生活)</span></td>
                                                    <td class="nopadding"></td>
                                                    <td class="alignright"><span>等待审批</span></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                                <td><a href="#" class="tags">删除</a></td>
                            </tr>
                            <tr>
                                <td>基层员工标准请假</td>
                                <td><em>玄灵顺(明道战斗生活)</em></td>
                                <td>2014-10-31 20:10:22</td>
                                <td class="width-40">
                                    <div class="width-40 relative">
                                        <a href="#" class="add">查看</a>
                                    </div>
                                </td>
                                <td><a href="#" class="tags">删除</a></td>
                            </tr>
                            <tr>
                                <td>基层员工标准请假</td>
                                <td><em>玄灵顺(明道战斗生活)</em></td>
                                <td>2014-10-31 20:10:22</td>
                                <td class="width-40">
                                    <div class="width-40 relative">
                                        <a href="#" class="add">查看</a>
                                    </div>
                                </td>
                                <td><a href="#" class="tags">删除</a></td>
                            </tr>
                            <tr>
                                <td>基层员工标准请假</td>
                                <td><em>玄灵顺(明道战斗生活)</em></td>
                                <td>2014-10-31 20:10:22</td>
                                <td class="width-40">
                                    <div class="width-40 relative">
                                        <a href="#" class="add">查看</a>
                                    </div>
                                </td>
                                <td><a href="#" class="tags">删除</a></td>
                            </tr>
                            <tr>
                                <td>基层员工标准请假</td>
                                <td><em>玄灵顺(明道战斗生活)</em></td>
                                <td>2014-10-31 20:10:22</td>
                                <td class="hasProcess width-40">
                                    <div class="width-40 relative">
                                        <a href="#" class="add">查看</a>
                                        <div class="processBox jscroll" style="top:-140px;">
                                            <table style="width:100%;">
                                                <tr>
                                                    <td><span class="width-80 txt_hidden add">任向辉</span></td>
                                                    <td class="nopadding">2015-7-22 20:25:25</td>
                                                    <td class="width-50 alignright"><span class="add">通过</span></td>
                                                </tr>
                                                <tr class="color-a">
                                                    <td><span class="width-80 txt_hidden add">任向辉</span></td>
                                                    <td class="nopadding"></td>
                                                    <td class="alignright"><span>等待审批</span></td>
                                                </tr>
                                                <tr class="color-a">
                                                    <td><span class="width-80 txt_hidden">玄灵顺(明道战斗生活)</span></td>
                                                    <td class="nopadding"></td>
                                                    <td class="alignright"><span>等待审批</span></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                                <td><a href="#" class="tags">删除</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--分页器begin-->
                <div class="pagenation aligncenter mart30 p-bt20">
                    <a href="javascript:;" class="page prev marr20">上一页</a>
                    <a href="#" class="current">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <span>......</span>
                    <a href="#" class="disabled">7</a>
                    <a href="#" class="disabled">8</a>
                    <a href="#" class="disabled">9</a>
                    <a href="#" class="disabled">100</a>
                    <a href="javascript:;" class="page next marl20">下一页</a>
                </div>
                <!--分页器over-->
            </div>
        </div>
    </div>
    <!--right over-->
    <div class="mask" style="display: none;"></div>
</div>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript">
    $(function() {
        $('.jscroll').jScrollPane({
            'mouseWheelSpeed':100,
            "showArrows":false
        });
    });
</script>
</body>
</html>