<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>表单管理</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <!--left begin-->
    <div class="layout_left mini_left" style="width:59px;">
        <div class="oa_logo">
            <a href="#" class="block mart20 marl30">
                <p class="logo_txt"><img src="../img/logo_1.png" /></p>
                <p class="logo_img"><img src="../img/logo_2.png" /></p>
            </a>
        </div>
        <div class="nav_tools">
            <ul class="tool_nav font14">
                <li>
                    <a href="javascript:;"><span class="circle_ico font18"><i class="icon-laptop-chromebook"></i></span><em>工作台</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>工作台</span>
                </li>
            </ul>
            <ul class="tool_nav nav_list font14">
                <li>
                    <a href="javascript:;"><span class="circle_ico font18 noborder nobg"><i class="icon-upload2"></i></span><em>申请记录</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>申请记录</span>
                </li>
                <li>
                    <a href="javascript:;"><span class="circle_ico font18 noborder nobg"><i class="icon-clipboard"></i></span><em>审批记录</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>审批记录</span>
                </li>
                <li class="current">
                    <a href="javascript:;"><span class="circle_ico font18 noborder nobg"><i class="icon-exit marl5"></i></span><em>经办记录</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>经办记录</span>
                </li>
                <li>
                    <a href="javascript:;"><span class="circle_ico font18 noborder nobg"><i class="icon-eye-plus"></i></span><em>传阅记录</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>传阅记录</span>
                </li>
            </ul>
        </div>
        <div class="left_bottom">
            <ul class="tool_nav font14">
                <li>
                    <a href="javascript:;">
                        <span class="circle_ico font16"><i class="icon-iadd"></i></span>
                        <em>发申请</em>
                    </a>
                    <span class="title_tip"><i class="toggle_arrow"></i>发申请</span>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="circle_ico font16"><i class="icon-iser"></i></span>
                        <em>智能搜索</em>
                    </a>
                    <span class="title_tip"><i class="toggle_arrow"></i>智能搜索</span>
                </li>
                <li>
                    <a href="javascript:;"><span class="circle_ico font16"><i class="icon-iset"></i></span><em>管理</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>管理</span>
                </li>
            </ul>
            <div class="user_info font14 clearfix">
                <span class="UserImg floatleft marr10 ie-css3"><img src="../img/1.png"></span>
                <p><em>欢迎回来</em></p>
                <p class="font12"><a href="#">退出登录</a></p>
                <a href="javascript:;" class="font20 color-6"><i class="icon-input"></i></a>
                <span class="title_tip"><i class="toggle_arrow"></i>退出登录</span>
            </div>
        </div>
    </div>
    <!--left over-->
    <!--right begin-->
    <div class="layout_right hidden" style="left:81px;">
        <div class="home_page" style="display: ;">
            <div class="work_item">
                <div class="Title alignright clearfix">
                    <span class="font16 floatleft">系统管理</span>
                    <a href="http://meihua.mingdao.com/videoshare_3b206145-7c78-482d-bb26-45aa4aa95159_fe288386-3d26-4eab-b5d2-51eeab82a7f9" target="_blank"  class="more floatleft marl20"><i class="icon-link"></i> 视频说明</a>
                </div>
                <ul class="form_list mart20 clearfix">
                    <li>
                        <a href="#">
                            <p class="f_icon"><span class="icon-bdgl"></span></p>
                            <p class="font16">表单管理</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="f_icon"><span class="icon-mbgl"></span></p>
                            <p class="font16">模板管理</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="f_icon"><span class="icon-process"></span></p>
                            <p class="font16">流程管理</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="f_icon"><span class="icon-jsgl"></span></p>
                            <p class="font16">审批角色</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="f_icon"><span class="icon-tjfx"></span></p>
                            <p class="font16">统计管理</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="work_item">
                <div class="Title alignright clearfix">
                    <span class="font16 floatleft">系统信息</span>
                </div>
                <ul class="form_list mart20 clearfix">
                    <li>
                        <a href="#">
                            <p class="f_icon"><span class="icon-3"></span></p>
                            <p class="font16">订购信息</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="f_icon"><span class="icon-datalink"></span></p>
                            <p class="font16">数据定义</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="f_icon"><span class="icon-sqrz"></span></p>
                            <p class="font16">申请日志</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--表单列表begin-->
        <div class="form_out admin_list" style="display: none;">
            <ul class="form_list clearfix">
                <li>
                    <a href="#">
                        <p class="f_icon"><span class="icon-bdgl"></span></p>
                        <p class="font16">表单管理</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p class="f_icon"><span class="icon-jsgl"></span></p>
                        <p class="font16">角色管理</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p class="f_icon"><span class="icon-mbgl"></span></p>
                        <p class="font16">模板管理</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p class="f_icon"><span class="icon-sqrz"></span></p>
                        <p class="font16">申请日志</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p class="f_icon"><span class="icon-process"></span></p>
                        <p class="font16">流程管理</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p class="f_icon"><span class="icon-datalink"></span></p>
                        <p class="font16">数据关联</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p class="f_icon"><span class="icon-tjfx"></span></p>
                        <p class="font16">统计分析</p>
                    </a>
                </li>

            </ul>
        </div>
        <!--表单列表over-->
    </div>
    <!--right over-->
    <div class="mask" style="display: none;"></div>
</div>
</body>
</html>