<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>统计权限</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <!--right begin-->
    <div class="layout_right hidden" style="left:0;">
        <div class="admin_header aligncenter">
            <div class="location font14 floatleft marl20">
                <a href="#">首页</a>
                <em>&gt;</em>
                <a href="#">管理</a>
                <em>&gt;</em>
                <span>统计权限</span>
            </div>
            <div class="top_nav nav_bar top_nav_mid noborder aligncenter font14">
                <a href="#">统计分析</a>
                <a href="#">统计记录</a>
                <a href="#" class="current">统计权限</a>
            </div>
            <div class="top_nav alignright font14">
                <a href="javascript:;" class="new_btn bg-waring font12 ie-css3">退出</a>
            </div>
        </div>
        <div class="form_page mart50 p-top20">
            <div class="order_main p-top20">
                <table class="list_table">
                    <tbody>
                        <tr>
                            <th class="width-155">
                                <div class="inner_td clearfix nopadding">
                                    <span class="marl10">采购资源源申请请</span>
                                </div>
                            </th>
                            <td>
                                <div class="inner_td">
                                    <div class="relative User_float">
                                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                        <!--提示框begin-->
                                        <div class="prompt_box" style="left:-85px;display:none">
                                            <span class="Icon prompt_top"></span>
                                            <div class="prompt_main">
                                                <div class="prompt_title clearfix alignright">
                                                    <div class="floatleft">
                                                         <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                                         <span>张睿</span>
                                                    </div>
                                                </div>
                                                <div class="marl10 color-6 mart10">
                                                    <p>上海万企明道软件有限公司上海万企明道软件有限公司</p>
                                                    <p>北京研发中心</p>
                                                    <p>产品经理</p>
                                                </div>
                                                <p><a href="#" class="Btn current marl10 mart5 btn-make">从列表中移除</a></p>
                                            </div>
                                            <span class="Icon prompt_bt"></span>
                                        </div>
                                        <!--提示框over-->
                                    </div>
                                    <div class="relative User_float">
                                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                    </div>
                                    <div class="relative User_float">
                                        <span class="UserImg inlineblock ie-css3"></span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="width-155">
                                <div class="inner_td clearfix nopadding">
                                    <span class="marl10">采购资源源申请请</span>
                                </div>
                            </th>
                            <td>
                                <div class="inner_td">
                                    <div class="relative User_float">
                                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                        <!--提示框begin-->
                                        <div class="prompt_box" style="left:-85px;display: ">
                                            <span class="Icon prompt_top"></span>
                                            <div class="prompt_main">
                                                <div class="prompt_title clearfix alignright">
                                                    <div class="floatleft">
                                                         <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                                         <span>张睿</span>
                                                    </div>
                                                </div>
                                                <div class="marl10 color-6 mart10">
                                                    <p>上海万企明道软件有限公司上海万企明道软件有限公司</p>
                                                    <p>北京研发中心</p>
                                                    <p>产品经理</p>
                                                </div>
                                                <p><a href="#" class="Btn current marl10 mart5 btn-make">从列表中移除</a></p>
                                            </div>
                                            <span class="Icon prompt_bt"></span>
                                        </div>
                                        <!--提示框over-->
                                    </div>
                                    <div class="relative User_float">
                                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                                    </div>
                                    <div class="relative User_float">
                                        <span class="UserImg inlineblock ie-css3"></span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--分页器begin-->
                <div class="pagenation aligncenter mart30 p-bt20">
                    <a href="javascript:;" class="page prev marr20">上一页</a>
                    <a href="#" class="current">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <span>......</span>
                    <a href="#" class="disabled">7</a>
                    <a href="#" class="disabled">8</a>
                    <a href="#" class="disabled">9</a>
                    <a href="#" class="disabled">100</a>
                    <a href="javascript:;" class="page next marl20">下一页</a>
                </div>
                <!--分页器over-->
            </div>
        </div>
    </div>
    <!--right over-->
    <div class="mask" style="display: none;"></div>
</div>
</body>
</html>