<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>统计分析</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <!--right begin-->
    <div class="layout_right hidden" style="left:0;">
        <div class="admin_header aligncenter">
            <div class="location font14 floatleft marl20">
                <a href="#">首页</a>
                <em>&gt;</em>
                <a href="#">管理</a>
                <em>&gt;</em>
                <span>系统日志</span>
            </div>
            <div class="top_nav nav_bar top_nav_mid noborder aligncenter font14">
                <a href="#" class="current">统计分析</a>
                <a href="#">统计记录</a>
                <a href="#">统计权限</a>
            </div>
            <div class="top_nav alignright font14">
                <a href="javascript:;" class="new_btn bg-waring font12 ie-css3">退出</a>
            </div>
        </div>
        <div class="form_page mart50 p-top20">
            <div class="list_main  p-top20">
                <!--牛逼表格begin-->
                <div class="high_table clearfix" style="display: ">
                    <div class="table_left floatleft" style="width: 30%">
                        <!--表头begin-->
                        <div class="table_head">
                            <table class="list_table">
                                <thead>
                                    <tr>
                                        <th class="width-149"><div class="inner_td">部门</div></th>
                                        <th><div class="inner_td width-80">姓名</div></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!--表头over-->
                        <div class="table_main" title="" style="height:300px;">
                            <table class="list_table wait_top" style="top:0;">
                                <tbody>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北</span></div></td>
                                        <td><div class="inner_td"><span>刘德华</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明</span></div></td>
                                        <td><div class="inner_td"><span>令狐冲</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>上海明道</span></div></td>
                                        <td><div class="inner_td"><span>周润发</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>刘德华</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明</span></div></td>
                                        <td><div class="inner_td"><span>令狐冲</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>上海明道</span></div></td>
                                        <td><div class="inner_td"><span>周润发</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>刘德华</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td txt_hidden"><span>明道北京研明</span></div></td>
                                        <td><div class="inner_td txt_hidden"><span>令狐冲</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td txt_hidden"><span>上海明道</span></div></td>
                                        <td><div class="inner_td txt_hidden"><span>周润发</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td txt_hidden"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td txt_hidden"><span>刘德华</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td txt_hidden"><span>明道北京研明</span></div></td>
                                        <td><div class="inner_td txt_hidden"><span>令狐冲</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td txt_hidden"><span>上海明道</span></div></td>
                                        <td><div class="inner_td txt_hidden"><span>周润发</span></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--合计begin-->
                        <div class="table_head table_bottom">
                            <table class="list_table">
                                <thead>
                                    <tr>
                                        <th class="width-149"><div class="inner_td">合计</div></th>
                                        <th><div class="inner_td width-80">姓名</div></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!--合计over-->
                    </div>
                    <div class="table_right floatleft" style="">
                        <!--表头begin-->
                        <div class="table_head">
                            <table class="list_table wait_left" style="left:0">
                                <thead>
                                    <tr>
                                        <th><div class="inner_td">部门</div></th>
                                        <th><div class="inner_td">姓名</div></th>
                                        <th><div class="inner_td">报销金额</div></th>
                                        <th><div class="inner_td">支付方式</div></th>
                                        <th><div class="inner_td">费用类别</div></th>
                                        <th><div class="inner_td">时间</div></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!--表头over-->
                        <div class="table_main" title="" style="height:300px;">
                            <table class="list_table wait_left wait_top" style="left:0;top:0;">
                                <tbody>
                                    <tr class="">
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="inner_td"><span>明道北京研明道北京研发中心总部明道北京研发中心总部发中心总部</span></div></td>
                                        <td><div class="inner_td"><span>令狐令狐冲令狐冲冲</span></div></td>
                                        <td><div class="inner_td"><span>10000</span></div></td>
                                        <td><div class="inner_td"><span>现金支付</span></div></td>
                                        <td><div class="inner_td"><span>办公费用</span></div></td>
                                        <td><div class="inner_td"><span>2014-10-20</span></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--合计begin-->
                        <div class="table_head table_bottom">
                            <table class="list_table">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="no_indent">
                                            <div class="inner_td alignright nopadding " style="width:100%;">
                                                <a href="javascript:;" class="color-3 export marr10"><img src="../img/fu_xlsx.gif">导出为EXCEL</a>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!--合计over-->
                    </div>
                </div>
                <!--牛逼表格over-->
            </div>
        </div>
    </div>
    <!--right over-->
    <!--右侧检索条件begin-->
    <span class="Icon right_arrow" title="展开"></span>
    <div class="search_r" style="display: ">
        <div class="Re_item clearfix">
            <span class="inlineblock marl10 width-60 alignright">起止日期：</span>
            <div class="inlineblock">
                <div class="clander has-general inlineblock">
                    <input type="text" class="int" placeholder="开始日期">
                    <a href="javascript:;" class="Icon ico-clander"></a>
                </div>
                <em>-</em>
                <div class="clander has-general inlineblock">
                    <input type="text" class="int" placeholder="截止日期">
                    <a href="javascript:;" class="Icon ico-clander"></a>
                </div>
            </div>
            <ul class="tab_nav mart10 clearfix">
                <li class="current"><a href="javascript:;">最近一周</a></li>
                <li><a href="javascript:;">最近一个月</a></li>
                <li><a href="javascript:;">最近三个月</a></li>
                <li><a href="javascript:;">最近一年</a></li>
                <li><a href="javascript:;">一年一前</a></li>
            </ul>
        </div>
        <div class="Re_item">
            <span class="inlineblock marl10 width-60 alignright">申请表单：</span>
            <div class="search ie-css3 select width-180 inlineblock "><!--加 current，显示下拉列表框-->
                <span class="Choosed">转正申请</span>
                <span class="ico-select"><i class="Icon ico-upd"></i></span>
                <div class="ser_Results ie-css3">
                    <div class="jscroll" style="width:170px;height:100px;">
                        <ul>
                            <li>转正申请</li>
                            <li>报销申请</li>
                            <li>行政费用</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="Re_item">
            <p class="marl10">选择城市：</p>
            <div class="clearfix mart10">
                <div class="search ie-css3 floatleft select width-110 marr5 ">
                    <span class="Choosed txt_hidden width-90">宁夏回族自治宁夏回族自治区区</span>
                    <span class="ico-select"><i class="Icon ico-upd"></i></span>
                    <div class="ser_Results ie-css3">
                        <div class="jscroll" style="height:200px;">
                            <ul>
                                <li>山东省</li>
                                <li>安徽省</li>
                                <li>河南省</li>
                                <li>北京</li>
                                <li>天津</li>
                                <li>宁夏回族自治区</li>
                                <li>维吾尔族自治区</li>
                                <li>福建省</li>
                                <li>广东省</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="search ie-css3 floatleft select width-11 marr5">
                    <span class="Choosed txt_hidden width-100">石家庄</span>
                    <span class="ico-select"><i class="Icon ico-upd"></i></span>
                    <div class="ser_Results ie-css3">
                        <div class="jscroll" style="height:200px;">
                            <ul>
                                <li><label class="city_choose"><input type="checkbox">石家庄</label></li>
                                <li><label class="city_choose"><input type="checkbox">郑州</label></li>
                                <li><label class="city_choose"><input type="checkbox">北京</label></li>
                                <li><label class="city_choose"><input type="checkbox">重庆</label></li>
                                <li><label class="city_choose"><input type="checkbox">辽宁</label></li>
                                <li><label class="city_choose"><input type="checkbox">正定</label></li>
                                <li><label class="city_choose"><input type="checkbox">日本</label></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="javascript:;" class="font18 ico-add"><i class="icon-circle-plus"></i></a>
                <a href="javascript:;" class="font18 ico-add"><i class="icon-circle-minus"></i></a>
            </div>
            <div class="mart10 choose_city_list">
                <p>
                    <span>
                        <em>1.</em>
                        <b class="txt_hidden">河北省</b>
                        <a href="javascript:;" class="add marl10">修改</a>
                        <a href="javascript:;" class="add marl10">删除</a><br>
                    </span>
                    (石家庄，郑州，正定,石家庄，郑州，正定)
                </p>
                <p>
                    <span>
                        <em>2.</em>
                        <b class="txt_hidden">河北省</b>
                        <a href="javascript:;" class="add marl10">修改</a>
                        <a href="javascript:;" class="add marl10">删除</a><br>
                    </span>
                    (石家庄，郑州，正定,石家庄，郑州，正定)
                </p>
                <p>
                    <span>
                        <em>3.</em>
                        <b class="txt_hidden">澳门特别行政区</b>
                        <a href="javascript:;" class="add marl10">修改</a>
                        <a href="javascript:;" class="add marl10">删除</a><br>
                    </span>
                    (石家庄，郑州，正定,石家庄，郑州，正定)
                </p>
                <p>
                    <span>
                        <em>4.</em>
                        <b class="txt_hidden">广西壮族广西壮族自治区自治区</b>
                        <a href="javascript:;" class="add marl10">修改</a>
                        <a href="javascript:;" class="add marl10">删除</a><br>
                    </span>
                    (石家庄，郑州，正定,石家庄，郑州，正定)
                </p>
                <p>
                    <span>
                        <em>5.</em>
                        <b class="txt_hidden">河北省</b>
                        <a href="javascript:;" class="add marl10">修改</a>
                        <a href="javascript:;" class="add marl10">删除</a><br>
                    </span>
                    (石家庄，郑州，正定,石家庄，郑州，正定)
                </p>
            </div>
        </div>
        <div class="Re_item">
            <p><span class="inlineblock marl10">选择列头：</span></p>
            <div class="jscroll mart10" style="height:150px;">
                <table class="account_tab">
                    <tr>
                        <td>
                            <span class="check checked"><i class="Icon ico-check"></i>部门</span>
                            <span class="check"><i class="Icon ico-check"></i>姓姓名姓名名</span>
                            <span class="check"><i class="Icon ico-check"></i>职位</span>
                            <span class="check"><i class="Icon ico-check"></i>金额</span>
                            <span class="check"><i class="Icon ico-check"></i>金额</span>
                            <span class="check"><i class="Icon ico-check"></i>金额</span>
                            <span class="check"><i class="Icon ico-check"></i>金额</span>
                            <span class="check"><i class="Icon ico-check"></i>金额</span>
                            <span class="check"><i class="Icon ico-check"></i>金额</span>
                            <span class="check"><i class="Icon ico-check"></i>金额</span>
                            <span class="check"><i class="Icon ico-check"></i>金额</span>
                            <span class="check"><i class="Icon ico-check"></i>金额</span>
                            <span class="check"><i class="Icon ico-check"></i>金额</span>
                            <span class="check"><i class="Icon ico-check"></i>金额</span>
                            <span class="check"><i class="Icon ico-check"></i>金额</span>
                            <span class="check"><i class="Icon ico-check"></i>金额</span>
                            <span class="check"><i class="Icon ico-check"></i>金额</span>
                            <span class="check"><i class="Icon ico-check"></i>日期</span>
                            <span class="check"><i class="Icon ico-check"></i>类型</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="Re_item">
            <p><span class="inlineblock marl10">审批结果：</span></p>
            <div class="jscroll mart10" style="height:50px;">
                <table class="account_tab">
                    <tr>
                        <td>
                            <span class="check checked"><i class="Icon ico-check"></i>通过的</span>
                            <span class="check"><i class="Icon ico-check"></i>未通过的</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="Re_item">
            <p><span class="inlineblock marl10">执行结果：</span></p>
            <div class="jscroll mart10" style="height:50px;">
                <table class="account_tab">
                    <tr>
                        <td>
                            <span class="check checked"><i class="Icon ico-check"></i>通过未执行的</span>
                            <span class="check"><i class="Icon ico-check"></i>通过已执行</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="Re_item" style="padding-top:0;">
            <p><span class="inlineblock marl10">统计：</span></p>
            <table class="account_tab mart10">
                <tr>
                    <td>
                        <span class="check checked"><i class="Icon ico-check"></i>部门</span>
                        <span class="check"><i class="Icon ico-check"></i>姓名</span>
                        <span class="check"><i class="Icon ico-check"></i>职位</span>
                        <span class="check"><i class="Icon ico-check"></i>金额</span>
                        <span class="check"><i class="Icon ico-check"></i>日期</span>
                        <span class="check"><i class="Icon ico-check"></i>类型</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="Re_item">
            <span class="inlineblock marl10">分组：</span>
            <div class="search ie-css3 select current width-180 inlineblock "><!--加 current，显示下拉列表框-->
                <span class="Choosed">申请部门</span>
                <span class="ico-select"><i class="icon-unfold-more"></i></span>
                <div class="ser_Results ie-css3" style="bottom:29px;top:inherit;">
                    <div class="jscroll" style="width:170px;height:100px;">
                        <ul>
                            <li>申请人</li>
                            <li>申请部门</li>
                            <li>付款方式</li>
                            <li>付款方式</li>
                            <li>付款方式</li>
                            <li>付款方式</li>
                            <li>付款方式</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p class="marl20 mart20">
            <a href="javascript:;" class="new_btn font12 ie-css3">重置选项</a>
            <a href="javascript:;" class="new_btn font12 ie-css3 marl10">开始统计</a>
        </p>
    </div>
    <!--右侧检索条件over-->
    <div class="mask" style="display: none;"></div>
</div>
<link rel="stylesheet" type="text/css" href="../css/jscrollpane.css">
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/Mutual.js"></script>
<script type="text/javascript" src="../js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript">
    $(function() {
        $('.jscroll').jScrollPane({
            'mouseWheelSpeed':100,
            "showArrows":false
        });
    });
</script>
</body>
</html>