<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>草稿箱</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/jscrollpane.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <!--left begin-->
    <div class="layout_left mini_left" style="width:59px;">
        <div class="oa_logo">
            <a href="#" class="block mart20 marl30">
                <p class="logo_txt"><img src="../img/logo_1.png" /></p>
                <p class="logo_img"><img src="../img/logo_2.png" /></p>
            </a>
        </div>
        <div class="nav_tools">
            <ul class="tool_nav font14">
                <li class="">
                    <a href="javascript:;"><span class="circle_ico font18"><i class="icon-laptop-chromebook"></i></span><em>工作台</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>工作台</span>
                </li>
            </ul>
            <p class="line"></p>
            <ul class="tool_nav nav_list font14">
                <li>
                    <a href="javascript:;"><span class="circle_ico font18 noborder nobg"><i class="icon-upload2"></i></span><em>申请</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>申请</span>
                </li>
                <li>
                    <a href="javascript:;"><span class="circle_ico font18 noborder nobg"><i class="icon-clipboard"></i></span><em>审批</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>审批</span>
                </li>
                <li class="current">
                    <a href="javascript:;"><span class="circle_ico font18 noborder nobg"><i class="icon-exit marl5"></i></span><em>经办</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>经办</span>
                </li>
                <li>
                    <a href="javascript:;"><span class="circle_ico font18 noborder nobg"><i class="icon-eye-plus"></i></span><em>传阅</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>传阅</span>
                </li>
            </ul>
            <ul class="tool_nav font14">
                <li class="current">
                    <a href="javascript:;"><span class="circle_ico font16"><i class="icon-bin2"></i></span><em>草稿箱</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>草稿箱</span>
                </li>
            </ul>
        </div>
        <div class="left_bottom">
            <ul class="tool_nav font14">
                <li>
                    <a href="javascript:;">
                        <span class="circle_ico font16"><i class="icon-iadd"></i></span>
                        <em>发申请</em>
                    </a>
                    <span class="title_tip"><i class="toggle_arrow"></i>发申请</span>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="circle_ico font16"><i class="icon-iser"></i></span>
                        <em>智能搜索</em>
                    </a>
                    <span class="title_tip"><i class="toggle_arrow"></i>智能搜索</span>
                </li>
                <li>
                    <a href="javascript:;"><span class="circle_ico font16"><i class="icon-iset"></i></span><em>管理</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>管理</span>
                </li>
                <li>
                    <a href="javascript:;"><span class="circle_ico font12"><i class="icon-stats-dots"></i></span><em>统计</em></a>
                    <span class="title_tip"><i class="toggle_arrow"></i>统计</span>
                </li>
                <li class="download" style="border-top:1px solid #ccc;margin-bottom:10px;padding-top:8px;">
                    <a href="javascript:;" class="">
                        <span class="marl20 marr5"><img src="../img/phone.png" style="vertical-align: middle;"></span>
                        <em>移动端下载</em>
                    </a>
                </li>
            </ul>
            <div class="user_info font14 clearfix">
                <span class="UserImg floatleft marr10 ie-css3"><img src="../img/1.png"></span>
                <p><em>欢迎回来</em></p>
                <p class="font12"><a href="#">退出登录</a></p>
                <a href="javascript:;" class="font20 color-6"><i class="icon-input"></i></a>
                <span class="title_tip"><i class="toggle_arrow"></i>退出</span>
            </div>
        </div>
    </div>
    <!--left over-->
    <!--right begin-->
    <div class="layout_right" style="left:60px;">
        <!--快速审批操作begin-->
        <div class="bottom_app current" style="display:none;left: 160px">
            <textarea class="int-txt" placeholder="输入审批意见..." style=""></textarea>
            <a href="javascript:;" class="new_btn aligncenter bg-success font12 marr10 marl20">通 过</a>
            <a href="javascript:;" class="new_btn aligncenter bg-waring font12">否 决</a>
        </div>
        <!--快速审批操作over-->
        <div class="home_page">
            <div class="work_item">
                <div class="Title alignright clearfix">
                    <span class="font24 floatleft">草稿箱<em class="font18 color-8">(10)</em></span>
                    <a href="#">收起列表<i class="icon-arrow-drop-down font16"></i></a>
                </div>
                <table class="work_list mart15">
                    <tbody>
                        <tr>
                            <td>
                                <div class="inner">
                                    <p class="color-8">您于<span>2015.1.26 12:07:43</span>保存了<span>费用报销申请</span></p>
                                    <span class="Btns Btns_r BtnRevoke"><a href="#" class="a_txt floatleft font20"><i class="icon-bin"></i></a></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="inner">
                                    <p class="color-8">您于<span>2015.1.26 12:07:43</span>保存了<span>费用报销申请</span></p>
                                    <span class="Btns Btns_r BtnRevoke"><a href="#" class="a_txt floatleft font20"><i class="icon-bin"></i></a></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--right over-->
</div>
</body>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript">
    $(function() {
        $('.jscroll').jScrollPane({
            'mouseWheelSpeed':100,
            "showArrows":false
        });
        var $mini_left = $('.mini_left'),
                $l_tips = $mini_left.find('li'),
                $title_tip = $('.title_tip'),
                $user_info = $mini_left.find('.user_info');
        $l_tips.hover(function(){
            var $this = $(this);
            $this.find($title_tip).stop().fadeIn(150);
        },function(){
            var $this = $(this);
            $this.find($title_tip).stop().fadeOut(150);
        });
        $user_info.hover(function(){
            var $this = $(this);
            $this.find($title_tip).stop().fadeIn(150);
        },function(){
            var $this = $(this);
            $this.find($title_tip).stop().fadeOut(150);
        });
    });
</script>
</html>