<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>角色管理</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <!--right begin-->
    <div class="layout_right hidden" style="left:0;">
        <div class="home_page" style="display: none;">
            <div class="work_item">
                <div class="Title alignright clearfix">
                    <span class="font24 floatleft">我来审批<em class="font18 color-8">(10)</em></span>
                    <a href="#">收起列表<i class="toggle_arrow"></i></a>
                </div>
                <table class="work_list mart15">
                    <thead>
                        <tr>
                            <th class="width-30"></th>
                            <th class="width-50 aligncenter"><a href="#">全选</a></th>
                            <th>
                                <div class="inner alignright">
                                    <a href="#">按更新时间排序</a>
                                    <em>|</em>
                                    <a href="#" class="current">按申请时间排序</a>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="current">
                            <th class="noborder nobg"><a href="#"><i class="I-con I-con-mail"></i></a></th>
                            <th><a href="#"><i class="I-con I-con-check"></i></a></th>
                            <td>
                                <div class="inner">
                                    <a href="javascript:;" class="toggle current"><i class="toggle_arrow"></i></a>
                                    <p class="color-8"><span>赵晓阳</span>于<span>2015.1.26 12:07:43</span>发起的<span>费用报销申请</span>已在<span>3分钟</span>前被<span>王振佳</span>通过，现等待您的<span>审批</span></p>
                                    <!--表单预览begin-->
                                    <div class="Preview p-bt10">
                                        <div class="form_Preview">
                                            <em class="toggle_arrow"></em>
                                            <table>
                                                <tr>
                                                    <th>申请人: </th>
                                                    <td>赵晓阳</td>
                                                    <th>申请日期: </th>
                                                    <td>2015.1.26  12:07:43</td>
                                                </tr>
                                                <tr>
                                                    <th>部门: </th>
                                                    <td>明道北京研发中心</td>
                                                    <th>金额: </th>
                                                    <td>1000元</td>
                                                </tr>
                                                <tr>
                                                    <th>备注: </th>
                                                    <td colspan="3">2015明道北京研发中心交通费报销</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <p class="mart10"><a href="#">查看完整表单</a></p>
                                        <span class="Btns current mart10">
                                            <a href="#" class="a_txt">通过</a>
                                            <em class="toggle"><i class="toggle_arrow"></i></em>
                                            <ul>
                                                <li><a href="#">否决</a></li>
                                                <li><a href="#">专审</a></li>
                                                <li><a href="#" class="noborder">更多...</a></li>
                                            </ul>
                                        </span>
                                    </div>
                                    <!--表单预览over-->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="noborder nobg"><a href="#"><i class="I-con I-con-mail I-con-mailed"></i></a></th>
                            <th><a href="#"><i class="I-con I-con-check I-con-checked"></i></a></th>
                            <td>
                                <div class="inner">
                                    <p class="color-8"><span>赵晓阳</span>于<span>2015.1.26 12:07:43</span>发起的<span>费用报销申请</span>已在<span>3分钟</span>前被<span>王振佳</span>通过，现等待您的<span>审批</span></p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="work_item">
                <div class="Title alignright clearfix">
                    <span class="font24 floatleft">我的申请<em class="font18 color-8">(10)</em></span>
                    <a href="#">收起列表<i class="toggle_arrow"></i></a>
                </div>
                <table class="work_list mart15">
                    <thead>
                    <tr>
                        <th class="width-30"></th>
                        <th class="width-50 aligncenter"><a href="#">全选</a></th>
                        <th>
                            <div class="inner alignright">
                                <a href="#">按更新时间排序</a>
                                <em>|</em>
                                <a href="#">按申请时间排序</a>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th class="noborder nobg"><a href="#"><i class="I-con I-con-mail"></i></a></th>
                        <th><a href="#"><i class="I-con I-con-check"></i></a></th>
                        <td>
                            <div class="inner">
                                <a href="javascript:;" class="toggle"><i class="toggle_arrow"></i></a>
                                <p class="color-8"><span>赵晓阳</span>于<span>2015.1.26 12:07:43</span>发起的<span>费用报销申请</span>已在<span>3分钟</span>前被<span>王振佳</span>通过，现等待您的<span>审批</span></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="noborder nobg"><a href="#"><i class="I-con I-con-mail I-con-mailed"></i></a></th>
                        <th><a href="#"><i class="I-con I-con-check I-con-checked"></i></a></th>
                        <td>
                            <div class="inner">
                                <p class="color-8"><span>赵晓阳</span>于<span>2015.1.26 12:07:43</span>发起的<span>费用报销申请</span>已在<span>3分钟</span>前被<span>王振佳</span>通过，现等待您的<span>审批</span></p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="work_item">
                <div class="Title alignright clearfix">
                    <span class="font24 floatleft">我的传阅<em class="font18 color-8">(10)</em></span>
                    <a href="#">收起列表<i class="toggle_arrow"></i></a>
                </div>
                <table class="work_list mart15">
                    <thead>
                        <tr>
                            <th class="width-30"></th>
                            <th class="width-50 aligncenter"><a href="#">全选</a></th>
                            <th>
                                <div class="inner alignright">
                                    <a href="#">按更新时间排序</a>
                                    <em>|</em>
                                    <a href="#">按申请时间排序</a>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="noborder nobg"><a href="#"><i class="I-con I-con-mail"></i></a></th>
                            <th><a href="#"><i class="I-con I-con-check"></i></a></th>
                            <td>
                                <div class="inner">
                                    <p class="color-8"><span>赵晓阳</span>于<span>2015.1.26 12:07:43</span>发起的<span>费用报销申请</span>已在<span>3分钟</span>前被<span>王振佳</span>通过，现等待您的<span>审批</span></p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="noborder nobg"><a href="#"><i class="I-con I-con-mail I-con-mailed"></i></a></th>
                            <th><a href="#"><i class="I-con I-con-check I-con-checked"></i></a></th>
                            <td>
                                <div class="inner">
                                    <p class="color-8"><span>赵晓阳</span>于<span>2015.1.26 12:07:43</span>发起的<span>费用报销申请</span>已在<span>3分钟</span>前被<span>王振佳</span>通过，现等待您的<span>审批</span></p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--表单列表begin-->
        <div class="admin_header">
            <a href="http://meihua.mingdao.com/videoshare_16a8839f-2137-4fbb-ba2c-7eea2aead71b_fe288386-3d26-4eab-b5d2-51eeab82a7f9" target="_blank"  class="more floatleft marl20 mart18"><i class="icon-link"></i> 视频说明</a>
            <div class="top_nav alignright font14">
                <a class="new_btn font12 ie-css3 floatright" href="javascript:;">添加角色</a>
                <a class="new_btn bg-waring font12 ie-css3 floatright" href="javascript:;">退出编辑</a>
                <span class="search_mini mart11 floatright">
                  <input type="text" placeholder="搜索...">
                  <a href="#" class="serbtn font14"><i class="icon-iser"></i></a>
                </span>
            </div>
        </div>
        <div class="form_page mart50 p-top20 p-bt20" style="height:85%;overflow-y: auto;margin-right:-16px;">
            <ul class="UserList clearfix">
                <li>
                    <div class="clearfix">
                        <span class="UserImg block floatleft ie-css3"><img src="../img/1.png"></span>
                        <div class="has-general">
                            <input type="text" class="int" placeholder="请输入角色名称...">
                            <label class="control-label">提示信息</label>
                            <a href="javascript:;" class="Icon ico-ok" title="完成"></a>
                        </div>
                        <p class="font14">

                        </p>
                        <p class="color-6" style="display: none">
                            <span class="txt_hidden width-50">刘德华</span>
                            <span class="txt_hidden width-80">北京研发中心</span>
                            <span class="txt_hidden width-60">XXX总监</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="clearfix">
                        <span class="UserImg block floatleft ie-css3"><img src="../img/1.png"></span>
                        <p class="font14 clearfix">
                            <input type="text" class="int" value="CTO">
                            <span class="font14" style="display: none;">CTO</span>
                        </p>
                        <p class="color-6">
                            <span class="txt_hidden width-50">刘德德华</span>
                            <span class="txt_hidden width-80">北京研发中心</span>
                            <span class="txt_hidden width-60">XXX总监</span>
                        </p>
                        <div class="R-btns">
                            <a href="#" class="bg-347cdc" title="替换"><i class="Icon ico-refresh"></i></a>
                            <a href="#" title="移除"><i class="Icon ico-delete"></i></a>
                        </div>
                    </div>
                </li>
                <li class="current">
                    <div class="clearfix">
                        <span class="UserImg block floatleft ie-css3"><img src="../img/1.png"></span>
                        <p class="font14">CTO</p>
                        <p class="color-6">
                            <span class="txt_hidden width-50">刘德华</span>
                            <span class="txt_hidden width-80">北京研发中心</span>
                            <span class="txt_hidden width-60">XXX总监</span>
                        </p>
                        <div class="R-btns" style="right:0">
                            <a href="#" class="bg-347cdc color-white" title="替换"><i class="icon-refresh"></i></a>
                            <a href="#" title="移除" class="color-white"><i class="icon-bin2"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="clearfix">
                        <span class="UserImg block floatleft ie-css3"><img src="../img/1.png"></span>
                        <p class="font14">CTO</p>
                        <p class="color-6">
                            <span class="txt_hidden width-50">刘德德华</span>
                            <span class="txt_hidden width-80">北京研发中心</span>
                            <span class="txt_hidden width-60">XXX总监</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="clearfix">
                        <span class="UserImg block floatleft ie-css3"><img src="../img/1.png"></span>
                        <p class="font14">CTO</p>
                        <p class="color-6">
                            <span class="txt_hidden width-50">刘德华</span>
                            <span class="txt_hidden width-80">北京研发中心</span>
                            <span class="txt_hidden width-60">XXX总监</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="clearfix">
                        <span class="UserImg block floatleft ie-css3"><img src="../img/1.png"></span>
                        <p class="font14">CTO</p>
                        <p class="color-6">
                            <span class="txt_hidden width-50">刘德德华</span>
                            <span class="txt_hidden width-80">北京研发中心</span>
                            <span class="txt_hidden width-60">XXX总监</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="clearfix">
                        <span class="UserImg block floatleft ie-css3"><img src="../img/1.png"></span>
                        <p class="font14">CTO</p>
                        <p class="color-6">
                            <span class="txt_hidden width-50">刘德华</span>
                            <span class="txt_hidden width-80">北京研发中心</span>
                            <span class="txt_hidden width-60">XXX总监</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="clearfix">
                        <span class="UserImg block floatleft ie-css3"><img src="../img/1.png"></span>
                        <p class="font14">
                            <input type="text" class="int" value="CTO" style="display: none;">
                            <span>CTO</span>
                        </p>
                        <p class="color-6">
                            <span class="txt_hidden width-50">刘德德华</span>
                            <span class="txt_hidden width-80">北京研发中心</span>
                            <span class="txt_hidden width-60">XXX总监</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="clearfix">
                        <span class="UserImg block floatleft ie-css3"><img src="../img/1.png"></span>
                        <p class="font14">CTO</p>
                        <p class="color-6">
                            <span class="txt_hidden width-50">刘德华</span>
                            <span class="txt_hidden width-80">北京研发中心</span>
                            <span class="txt_hidden width-60">XXX总监</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="clearfix">
                        <span class="UserImg block floatleft ie-css3"><img src="../img/1.png"></span>
                        <p class="font14">CTO</p>
                        <p class="color-6">
                            <span class="txt_hidden width-50">刘德德华</span>
                            <span class="txt_hidden width-80">北京研发中心</span>
                            <span class="txt_hidden width-60">XXX总监</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="clearfix">
                        <span class="UserImg block floatleft ie-css3"><img src="../img/1.png"></span>
                        <p class="font14">CTO</p>
                        <p class="color-6">
                            <span class="txt_hidden width-50">刘德德华</span>
                            <span class="txt_hidden width-80">北京研发中心</span>
                            <span class="txt_hidden width-60">XXX总监</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="clearfix">
                        <span class="UserImg block floatleft ie-css3"><img src="../img/1.png"></span>
                        <p class="font14">CTO</p>
                        <p class="color-6">
                            <span class="txt_hidden width-50">刘德德华</span>
                            <span class="txt_hidden width-80">北京研发中心</span>
                            <span class="txt_hidden width-60">XXX总监</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="clearfix">
                        <span class="UserImg block floatleft ie-css3"><img src="../img/1.png"></span>
                        <p class="font14">CTO</p>
                        <p class="color-6">
                            <span class="txt_hidden width-50">刘德德华</span>
                            <span class="txt_hidden width-80">北京研发中心</span>
                            <span class="txt_hidden width-60">XXX总监</span>
                        </p>
                    </div>
                </li>
                <!--无数据begin-->
                <div class="nodata aligncenter">
                    <p><img src="../img/nodata.png"/></p>
                    <p class="font14 mart30 color-3">这里暂无数据，您是否需要</p>
                </div>
                <!--无数据over-->
            </ul>
        </div>
        <!--表单列表over-->
    </div>
    <!--right over-->
    <div class="mask" style="display: none;"></div>
</div>
</body>
</html>