<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>订购信息</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <!--left begin-->
    <div class="layout_left mini_left" style="width:80px;">
        <div class="oa_logo">
            <a href="#" class="block mart20 marl20">
                <p class="logo_txt"><img src="../img/logo_1.png" /></p>
                <p class="logo_img"><img src="../img/logo_2.png" /></p>
                <p class="p-top10 color-3">上海万企明道软件有限公司</p>
            </a>
        </div>
        <div class="nav_tools">
            <ul class="tool_nav font14">
                <li class="nav_li_first nav_a current"><a href="javascript:;"><span class="circle_ico font22"><i class="icon-laptop-chromebook"></i></span><em>工作台</em></a></li>
            </ul>
            <ul class="tool_nav nav_list font14">
                <li class="nav_li_first nav_a"><a href="javascript:;"><span class="circle_ico font22"><i class="icon-idoc"></i></span><em>归档</em></a></li>
                <li><a href="javascript:;"><em>我的</em>申请</a></li>
                <li class="current"><a href="javascript:;"><em>我的</em>审批</a></li>
                <li><a href="javascript:;"><em>我的</em>经办</a></li>
                <li><a href="javascript:;">传阅</a></li>
            </ul>
        </div>
        <div class="left_bottom">
            <ul class="tool_nav font14">
                <li class="apply_ico"><a href="javascript:;"><span class="circle_ico font20"><i class="icon-iadd"></i></span><em>发申请</em></a></li>
                <li><a href="javascript:;"><span class="circle_ico font20"><i class="icon-iser"></i></span><em>智能搜索</em></a></li>
                <li><a href="javascript:;"><span class="circle_ico font20"><i class="icon-iset"></i></span><em>管理</em></a></li>
            </ul>
            <div class="user_info font14 clearfix">
                <span class="UserImg floatleft marr10 ie-css3"><img src="../img/1.png"></span>
                <p><em>欢迎回来</em></p>
                <p class="font12"><a href="#">注销登录</a></p>
            </div>
        </div>
    </div>
    <!--left over-->
    <!--right begin-->
    <div class="layout_right hidden" style="left:81px;">
        <div class="admin_header aligncenter">
            <div class="location font14 floatleft marl20">
                <a href="#">首页</a>
                <em>&gt;</em>
                <a href="#">管理</a>
                <em>&gt;</em>
                <span>订购信息</span>
            </div>
            <div class="top_nav alignright font14">
                <a href="javascript:;" class="new_btn bg-waring font12 ie-css3">退出</a>
            </div>
        </div>
        <div class="form_page mart50 p-top20">
            <div class="order_main p-top20">
                <p class="font14 mart30">您于2014年11月2日，订购了3个月本产品。使用日期截止到2015年2月2日。产品价格：999 元。</p>
                <p class="font16 mart20 add">剩余使用天数：<em class="color font16">10</em>天</p>
                <p class="mart30"><a href="#"><img src="../img/pay_btn.png"/></a></p>
                <p class="line line-c p-top10"></p>
                <p class="font20 mart30">历史记录</p>
                <table class="account_tab mart10">
                    <tr>
                        <th>起止日期：</th>
                        <td>
                            <div class="floatleft">
                                <div class="has-general inlineblock">
                                    <input type="text" class="int" placeholder="请输入日期...">
                                    <label class="control-label">提示信息</label>
                                    <a href="javascript:;" class="Icon ico-clander"></a>
                                </div>
                                <em>&nbsp;-&nbsp;</em>
                                <div class="has-general inlineblock">
                                    <input type="text" class="int" placeholder="请输入日期...">
                                    <label class="control-label">提示信息</label>
                                    <a href="javascript:;" class="Icon ico-clander"></a>
                                </div>
                            </div>
                            <ul class="tab_nav floatleft marl20 clearfix">
                                <li class="current"><a href="javascript:;">筛选</a></li>
                            </ul>
                        </td>
                    </tr>
                </table>
                <div style="height:300px;">
                    <table class="account_de">
                        <thead>
                            <tr>
                                <th>订购人数（人）</th>
                                <th>订购时长（月）</th>
                                <th>起始时间</th>
                                <th>到期时间</th>
                                <th>产品价格（元）</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>100-200</td>
                                <td>3</td>
                                <td>2014-10-31</td>
                                <td>2015-10-31</td>
                                <td>999.0</td>
                            </tr>
                            <tr>
                                <td>100-200</td>
                                <td>3</td>
                                <td>2014-10-31</td>
                                <td>2015-10-31</td>
                                <td>999.0</td>
                            </tr>
                            <tr>
                                <td>100-200</td>
                                <td>3</td>
                                <td>2014-10-31</td>
                                <td>2015-10-31</td>
                                <td>999.0</td>
                            </tr>
                            <tr>
                                <td>100-200</td>
                                <td>3</td>
                                <td>2014-10-31</td>
                                <td>2015-10-31</td>
                                <td>999.0</td>
                            </tr>
                            <tr>
                                <td>100-200</td>
                                <td>3</td>
                                <td>2014-10-31</td>
                                <td>2015-10-31</td>
                                <td>999.0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--分页器begin-->
                <div class="pagenation aligncenter mart30 p-bt20">
                    <a href="javascript:;" class="page prev marr20">上一页</a>
                    <a href="#" class="current">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <span>......</span>
                    <a href="#" class="disabled">7</a>
                    <a href="#" class="disabled">8</a>
                    <a href="#" class="disabled">9</a>
                    <a href="#" class="disabled">100</a>
                    <a href="javascript:;" class="page next marl20">下一页</a>
                </div>
                <!--分页器over-->
            </div>
        </div>
    </div>
    <!--right over-->
    <div class="mask" style="display: none;"></div>
</div>
</body>
</html>