<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>表单详情</title>
    <link rel="stylesheet" type="text/css" href="../css/mstyles.css">
    <link rel="stylesheet" type="text/css" href="../css/fontstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/lAapp.js"></script>
</head>
<body>
<div class="view">
	<header class="header clearfix">
		<span class="floatleft"><i class="icon-iback font22"></i></span>
		<span class="mid_name font14 aligncenter">出差申请</span>
	</header>
	<!--分类begin-->
	<section class="search_out apps_title form_tab aligncenter">
		<span class="current">单据详情</span>
		<span>审批进度</span>
	</section>
	<!--分类over-->
	<!--列表begin-->
	<section class="main list_main" id="wrapper" style="top:85px;">
		<div id="scroller">
			<!--单据详情begin-->
			<div class="details" style="display:none;">
				<section class="form_box">
					<p class="color-3">申请信息</p>
					<table class="mart5">
						<tr>
							<th>申请人：</th>
							<td>赵晓阳</td>
						</tr>
						<tr>
							<th>申请编号：</th>
							<td>BT-2015-0006</td>
						</tr>
						<tr>
							<th>申请日期：</th>
							<td>2015-2-12 12:45</td>
						</tr>
					</table>
				</section>
				<section class="form_box mart10">
					<p class="color-3">单据信息</p>
					<table class="mart5">
						<tr>
							<th>出差地点：</th>
							<td><span class="color-info">上海</span></td>
						</tr>
						<tr>
							<th>出差日期：</th>
							<td><span class="color-info">2015-2-13</span></td>
						</tr>
						<tr>
							<th>出差事由：</th>
							<td>2015-2-12 12:45</td>
						</tr>
						<tr>
							<th>出差事由：</th>
							<td>协助办公</td>
						</tr>
						<tr>
							<th>备注：</th>
							<td>请提前安排工位以及相关办公工具，并安排好住宿和日常起居。</td>
						</tr>
					</table>
					<p class="color-3 border-top mart10 arrow_r">查看附件<span>（2）</span><i class="icon-expand-more"></i></p>
				</section>
			</div>
			<!--单据详情over-->
			<!--审批进度begin-->
			<div class="details">
				<section class="form_box">
					<p class="color-3">审批进度</p>
					<div class="time_line">
						<ul>
							<li class="current">
								<span class="circle"><i></i></span>
								<p>经办人：王佳，已处理</p>
								<p class="alignright clearfix">
									<span class="floatleft">2015-2-13 13:45</span>
									<span>用时5分04秒</span>
								</p>
							</li>
							<li>
								<span class="circle"><i></i></span>
								<p>审批人：王振佳，已查看</p>
								<p class="alignright clearfix">
									<span class="floatleft">2015-2-13 13:45</span>
									<span>用时5分04秒</span>
								</p>
							</li>
							<li>
								<span class="circle"><i></i></span>
								<p>经办人：王佳，已处理</p>
								<p class="alignright clearfix">
									<span class="floatleft">2015-2-13 13:45</span>
									<span>用时5分04秒</span>
								</p>
							</li>
							<li>
								<span class="circle"><i></i></span>
								<p>经办人：王佳，已处理</p>
								<p class="alignright clearfix">
									<span class="floatleft">2015-2-13 13:45</span>
									<span>用时5分04秒</span>
								</p>
							</li>
							<li>
								<span class="circle"><i></i></span>
								<p>审批人：张睿，已通过审批</p>
								<p class="alignright clearfix">
									<span class="floatleft">2015-2-13 13:45</span>
									<span>用时5分04秒</span>
								</p>
							</li>
							<li>
								<span class="circle"><i></i></span>
								<p>审批人：张睿，已通过审批</p>
								<p class="alignright clearfix">
									<span class="floatleft">2015-2-13 13:45</span>
									<span>用时5分04秒</span>
								</p>
								<div class="apply_txt">
									<i></i>
									<p>走之前请把工作交接好，将文件进行备份。到了上海及时在明道上@我，尽快完成对接，</p>
								</div>
							</li>
							<li>
								<span class="circle"><i></i></span>
								<p>审批人：王振佳，已查看</p>
								<p class="alignright clearfix">
									<span class="floatleft">2015-2-13 13:45</span>
									<span>用时5分04秒</span>
								</p>
							</li>
							<li>
								<span class="circle"><i></i></span>
								<p>审批人：王振佳，已查看</p>
								<p class="alignright clearfix">
									<span class="floatleft">2015-2-13 13:45</span>
									<span>用时5分04秒</span>
								</p>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<!--审批进度over-->
		</div>
	</section>
	<!--列表over-->
	<footer class="footer_app aligncenter">
		<span class="btn_inline">讨 论</span>
		<span class="btn_inline">转 审</span>
		<span class="btn_inline btn_no">否 决</span>
		<span class="btn_inline btn_yes">通 过</span>
	</footer>
	<span class="loading"><i class="icon-spinner9"></i></span>
</div>
</body>
</html>















