<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>审批意见</title>
    <link rel="stylesheet" type="text/css" href="../css/mstyles.css">
    <link rel="stylesheet" type="text/css" href="../css/fontstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
</head>
<body>
	<div class="view">
		<header class="header clearfix">
			<span class="floatleft"><i class="icon-iback font22"></i></span>
			<span class="mid_name font14 aligncenter">请填写审批意见</span>
		</header>
		<section class="main process_main" id="wrapper">
			<div id="scroller">
				<ul class="item_list">
					<li>
						<div class="inner">
							<span>添加附件</span>
							<i class="icon-expand-more"></i>
						</div>
					</li>
					<li>
						<div class="inner">
							<textarea placeholder="请填写审批意见"></textarea>
						</div>
						<p class="aligncenter color-a p-top5">请点击空白区域，输入您的审批意见。</p>
					</li>
				</ul>
			</div>
		</section>
		<span class="btn btn_commit">提交审批</span>
	</div>
</body>
</html>















