<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>归档</title>
    <link rel="stylesheet" type="text/css" href="../css/mstyles.css">
    <link rel="stylesheet" type="text/css" href="../css/fontstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/lAapp.js"></script>
</head>
<body>
<div class="view">
	<header class="header clearfix">
		<span class="mid_name font14 aligncenter">请选择</span>
	</header>
	<!--分类begin-->
	<section class="search_out apps_title aligncenter">
		<span class="current">申请</span>
		<span>审批</span>
		<span>经办</span>
		<span>传阅</span>
		<span>讨论</span>
	</section>
	<!--分类over-->
	<!--列表begin-->
	<section class="main list_main" id="wrapper" style="top:85px;">
		<div id="scroller">
			<ul class="list" title="点击批量操作时候给这个UL加choose">
				<li title="这个是不能展开的" class="no_preview">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="list_li">
						<i class="icon-expand-more"></i>
						<p class="font14">职工报销申请</p>
						<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
					</div>
				</li>
				<li title="这个是不能展开的" class="no_preview">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="list_li">
						<i class="icon-expand-more"></i>
						<p class="font14">部门费用报销申请</p>
						<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
					</div>
				</li>
				<li title="这个是不能展开的" class="no_preview">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="list_li">
						<i class="icon-expand-more"></i>
						<p class="font14">薪资调整申请</p>
						<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
					</div>
				</li>
				<li title="这个是不能展开的" class="no_preview">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="list_li">
						<i class="icon-expand-more"></i>
						<p class="font14">职工报销申请</p>
						<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
					</div>
				</li>
				<li title="这个是不能展开的" class="no_preview">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="list_li">
						<i class="icon-expand-more"></i>
						<p class="font14">部门费用报销申请</p>
						<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
					</div>
				</li>
				<li title="这个是不能展开的" class="no_preview">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="list_li">
						<i class="icon-expand-more"></i>
						<p class="font14">薪资调整申请</p>
						<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
					</div>
				</li>
				<li title="这个是不能展开的" class="no_preview">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="list_li">
						<i class="icon-expand-more"></i>
						<p class="font14">职工报销申请</p>
						<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
					</div>
				</li>
				<li title="这个是不能展开的" class="no_preview">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="list_li">
						<i class="icon-expand-more"></i>
						<p class="font14">部门费用报销申请</p>
						<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
					</div>
				</li>
				<li title="这个是不能展开的" class="no_preview">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="list_li">
						<i class="icon-expand-more"></i>
						<p class="font14">薪资调整申请</p>
						<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<!--列表over-->
	<!--批量操作时候出现的按钮组begin-->
	<footer class="footer_tool">
		<span><i class="icon-laptop-chromebook"></i>工作台</span>
		<span class="current"><i class="icon-play-install"></i>归档</span>
		<span><i class="icon-search2"></i>搜索</span>
		<span><i class="icon-plus"></i>新建表单</span>
	</footer>
</div>
</body>
</html>















