<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>附件查看</title>
    <link rel="stylesheet" type="text/css" href="../css/mstyles.css">
    <link rel="stylesheet" type="text/css" href="../css/fontstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
</head>
<body>
	<div class="view">
		<header class="header clearfix">
			<span class="floatleft"><i class="icon-iback font22"></i></span>
			<span class="mid_name font14 aligncenter">刘德华的工作汇总报告</span>
		</header>
		<section class="main form_main" id="wrapper">
			<div id="scroller">
				<p class="aligncenter AttchImg"><img src="../img/1.png"></p>
			</div>
		</section>
	</body>
</html>
